Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

fix: properly escape commit messages in GitHub release creation
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: improve sign-out flow to properly clear auth state and prevent session persistence
  lib/core/services/auth_service.dart
  lib/core/storage/secure_storage_mobile.dart
  lib/features/auth/data/repositories/backend_auth_repository.dart
  lib/features/auth/presentation/providers/auth_provider.dart
Owners: @Tell-Me-Mo/frontend-team

Manual testing guidline
  docs/MANUAL_TEST_CASES.md
Owners: @Tell-Me-Mo/core-team

fix: return user name in auth responses and display in profile
  backend/routers/native_auth.py
  backend/tests/integration/test_native_auth.py
  lib/features/auth/data/repositories/backend_auth_repository.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: prevent retry attempts on authentication failures (4xx errors)
  lib/core/network/dio_client.dart
Owners: @Tell-Me-Mo/frontend-team

fix: improve authentication error messages for clearer user feedback
  lib/features/auth/presentation/screens/signin_screen.dart
Owners: @Tell-Me-Mo/frontend-team

fix: resolve password update persistence and sign-out redirect issues
  backend/dependencies/auth.py
  backend/tests/integration/test_native_auth.py
  lib/features/auth/data/repositories/backend_auth_repository.dart
  lib/features/auth/presentation/providers/auth_provider.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: resolve organization switching error and circular dependency
  lib/features/organizations/presentation/providers/organization_provider.dart
  test/features/organizations/presentation/providers/organization_provider_test.dart
Owners: @Tell-Me-Mo/frontend-team

fix: resolve project state management issues for immediate UI updates
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/edit_project_dialog.dart
  test/features/projects/presentation/providers/projects_provider_test.dart
  test/features/projects/presentation/providers/projects_provider_test.mocks.dart
  test/features/projects/presentation/screens/simplified_project_details_screen_test.dart
Owners: @Tell-Me-Mo/frontend-team

Commit changes
  docs/MANUAL_TEST_CASES.md
  lib/features/auth/presentation/providers/auth_provider.g.dart
  lib/features/organizations/presentation/providers/organization_provider.g.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: prevent provider modification during widget build lifecycle
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

fix: multiple improvements to auth, state management, and documentation (#41)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
  HLD.md
  backend/dependencies/auth.py
  backend/routers/native_auth.py
  backend/tests/conftest.py
  backend/tests/integration/test_native_auth.py
  backend/tests/unit/test_replicate_service.py
  docs/MANUAL_TEST_CASES.md
  docs/documentation.html
  docs/redis.md
  docs/upload-flow-diagram.md
  lib/core/network/dio_client.dart
  lib/core/services/auth_service.dart
  lib/core/storage/secure_storage_mobile.dart
  lib/features/auth/data/repositories/backend_auth_repository.dart
  lib/features/auth/presentation/providers/auth_provider.dart
  lib/features/auth/presentation/providers/auth_provider.g.dart
  lib/features/auth/presentation/screens/signin_screen.dart
  lib/features/organizations/presentation/providers/organization_provider.dart
  lib/features/organizations/presentation/providers/organization_provider.g.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/edit_project_dialog.dart
  test/features/organizations/presentation/providers/organization_provider_test.dart
  test/features/projects/presentation/providers/projects_provider_test.dart
  test/features/projects/presentation/providers/projects_provider_test.mocks.dart
  test/features/projects/presentation/screens/simplified_project_details_screen_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: multiple improvements to auth, state management, and documentation (#41)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
  HLD.md
  backend/dependencies/auth.py
  backend/routers/native_auth.py
  backend/tests/conftest.py
  backend/tests/integration/test_native_auth.py
  backend/tests/unit/test_replicate_service.py
  docs/MANUAL_TEST_CASES.md
  docs/documentation.html
  docs/redis.md
  docs/upload-flow-diagram.md
  lib/core/network/dio_client.dart
  lib/core/services/auth_service.dart
  lib/core/storage/secure_storage_mobile.dart
  lib/features/auth/data/repositories/backend_auth_repository.dart
  lib/features/auth/presentation/providers/auth_provider.dart
  lib/features/auth/presentation/providers/auth_provider.g.dart
  lib/features/auth/presentation/screens/signin_screen.dart
  lib/features/organizations/presentation/providers/organization_provider.dart
  lib/features/organizations/presentation/providers/organization_provider.g.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/edit_project_dialog.dart
  test/features/organizations/presentation/providers/organization_provider_test.dart
  test/features/projects/presentation/providers/projects_provider_test.dart
  test/features/projects/presentation/providers/projects_provider_test.mocks.dart
  test/features/projects/presentation/screens/simplified_project_details_screen_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: resolve YAML syntax error in workflow files
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: resolve YAML syntax error in workflow files (#42)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: resolve YAML syntax error in workflow files (#42)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: replace markdown headers with HTML tags in workflow files
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: replace markdown headers with HTML tags in workflow files (#43)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: replace markdown headers with HTML tags in workflow files (#43)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use plain text labels instead of HTML tags in workflow files
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use plain text labels instead of HTML tags in workflow files (#44)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use plain text labels instead of HTML tags in workflow files (#44)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use asterisk (*) instead of hyphen (-) for markdown lists in YAML
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use asterisk (*) instead of hyphen (-) for markdown lists in YAML (#45)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use asterisk (*) instead of hyphen (-) for markdown lists in YAML (#45)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use string concatenation instead of template literals for release body
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use string concatenation instead of template literals for release body (#46)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: use string concatenation instead of template literals for release body (#46)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: secure infrastructure services by binding to localhost only
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

fix: resolve audio transcription temp file path race condition
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

fix: security and reliability improvements for infrastructure services (#47)
  backend/routers/transcription.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: security and reliability improvements for infrastructure services (#47)
  backend/routers/transcription.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: use container-accessible path for audio transcription temp files
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

fix: use container-accessible path for audio transcription temp files (#48)
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

fix: use container-accessible path for audio transcription temp files (#48)
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

fix: consolidate stack trace into single log message
  backend/utils/logstash_handler.py
Owners: @Tell-Me-Mo/backend-team

fix: convert temp audio file path to container-accessible format
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

refactor: use bind mounts for uploads directory instead of named volumes
  backend/routers/transcription.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: logging and audio transcription improvements (#49)
  backend/routers/transcription.py
  backend/utils/logstash_handler.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: logging and audio transcription improvements (#49)
  backend/routers/transcription.py
  backend/utils/logstash_handler.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
