Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

ui: Fix tab highlighting and hide mobile navigation in Tasks and Lessons
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
Owners: @Tell-Me-Mo/frontend-team

test: Fix failing tests in lessons_learned and query_provider
  test/features/lessons_learned/presentation/screens/lessons_learned_screen_v2_test.dart
  test/features/queries/presentation/providers/query_provider_test.dart
Owners: @Tell-Me-Mo/frontend-team

test: Update unified summaries tests to reflect job-based architecture
  backend/tests/integration/test_unified_summaries.py
Owners: @Tell-Me-Mo/backend-team

fix: Fix P0 bugs in result handling and callback error handling
  backend/routers/websocket_jobs.py
  lib/features/content/presentation/providers/processing_jobs_provider.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Reduce excessive debug logging and add missing test coverage
  CHANGELOG.md
  backend/queue_config.py
  backend/tests/integration/test_unified_summaries.py
  test/features/lessons_learned/presentation/screens/lessons_learned_screen_v2_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Optimize result retrieval in WebSocket job data handler
  backend/routers/websocket_jobs.py
Owners: @Tell-Me-Mo/backend-team

fix: UI improvements and test fixes (#76)
  CHANGELOG.md
  CLAUDE.md
  backend/config.py
  backend/queue_config.py
  backend/routers/unified_summaries.py
  backend/routers/websocket_jobs.py
  backend/services/summaries/summary_service_refactored.py
  backend/tasks/summary_tasks.py
  backend/tests/integration/test_unified_summaries.py
  docker-compose.prod.yml
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/queries/presentation/providers/query_provider.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/summaries/data/models/summary_model.dart
  lib/features/summaries/data/models/summary_model.freezed.dart
  lib/features/summaries/data/models/summary_model.g.dart
  lib/features/summaries/data/models/unified_summary_model.dart
  lib/features/summaries/data/models/unified_summary_model.freezed.dart
  lib/features/summaries/data/models/unified_summary_model.g.dart
  lib/features/summaries/presentation/providers/summary_provider.dart
  lib/features/summaries/presentation/providers/unified_summary_provider.dart
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/summary_generation_dialog.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
  test/features/lessons_learned/presentation/screens/lessons_learned_screen_v2_test.dart
  test/features/queries/presentation/providers/query_provider_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: UI improvements and test fixes (#76)
  CHANGELOG.md
  CLAUDE.md
  backend/config.py
  backend/queue_config.py
  backend/routers/unified_summaries.py
  backend/routers/websocket_jobs.py
  backend/services/summaries/summary_service_refactored.py
  backend/tasks/summary_tasks.py
  backend/tests/integration/test_unified_summaries.py
  docker-compose.prod.yml
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/queries/presentation/providers/query_provider.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/summaries/data/models/summary_model.dart
  lib/features/summaries/data/models/summary_model.freezed.dart
  lib/features/summaries/data/models/summary_model.g.dart
  lib/features/summaries/data/models/unified_summary_model.dart
  lib/features/summaries/data/models/unified_summary_model.freezed.dart
  lib/features/summaries/data/models/unified_summary_model.g.dart
  lib/features/summaries/presentation/providers/summary_provider.dart
  lib/features/summaries/presentation/providers/unified_summary_provider.dart
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/summary_generation_dialog.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
  test/features/lessons_learned/presentation/screens/lessons_learned_screen_v2_test.dart
  test/features/queries/presentation/providers/query_provider_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

refactor: Remove landing page and redirect directly to dashboard
  lib/app/router/app_router.dart
  lib/app/router/routes.dart
  lib/core/services/firebase_analytics_service.dart
  lib/features/auth/presentation/screens/auth_loading_screen.dart
  lib/features/landing/presentation/screens/landing_screen.dart
  test/app/router/routes_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Add swipe-to-close gesture for mobile detail panels
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

feat: add real-time meeting insights backend service
  backend/main.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/prompts/realtime_insights_prompts.py
Owners: @Tell-Me-Mo/backend-team

feat: add real-time meeting insights backend service
  backend/main.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/prompts/realtime_insights_prompts.py
Owners: @Tell-Me-Mo/backend-team

feat: add Flutter live insights UI and WebSocket service
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/frontend-team

feat: add Flutter live insights UI and WebSocket service
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/frontend-team

docs: add comprehensive documentation for live insights feature
  LIVE_INSIGHTS_IMPLEMENTATION.md
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

docs: add comprehensive documentation for live insights feature
  LIVE_INSIGHTS_IMPLEMENTATION.md
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

fix: implement critical live insights fixes
  TASKS_LIVE_INSIGHTS.md
  backend/dependencies/auth.py
  backend/routers/websocket_live_insights.py
  lib/config.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: implement critical live insights fixes
  TASKS_LIVE_INSIGHTS.md
  backend/dependencies/auth.py
  backend/routers/websocket_live_insights.py
  lib/config.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: integrate live insights with recording flow (C5)
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

feat: integrate live insights with recording flow (C5)
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

feat: implement real-time audio streaming with flutter_sound
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/shared/widgets/record_meeting_dialog.dart
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

feat: implement real-time audio streaming with flutter_sound
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/shared/widgets/record_meeting_dialog.dart
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

docs: mark all tasks complete in TASKS_LIVE_INSIGHTS.md
  TASKS_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

docs: mark all tasks complete in TASKS_LIVE_INSIGHTS.md
  TASKS_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

docs: update HLD to reflect production implementation (v2.0)
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

docs: update HLD to reflect production implementation (v2.0)
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

fix: resolve 22 Flutter analyzer errors
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/features/audio_recording/presentation/widgets/recording_button_test.dart
Owners: @Tell-Me-Mo/frontend-team

fix: resolve 22 Flutter analyzer errors
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/features/audio_recording/presentation/widgets/recording_button_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: add insights persistence to PostgreSQL with REST API
  TASKS_LIVE_INSIGHTS.md
  backend/alembic/versions/78bd477668c3_add_live_meeting_insights_table.py
  backend/main.py
  backend/models/__init__.py
  backend/models/live_meeting_insight.py
  backend/routers/live_insights.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: add insights persistence to PostgreSQL with REST API
  TASKS_LIVE_INSIGHTS.md
  backend/alembic/versions/78bd477668c3_add_live_meeting_insights_table.py
  backend/main.py
  backend/models/__init__.py
  backend/models/live_meeting_insight.py
  backend/routers/live_insights.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

docs: update TASKS_LIVE_INSIGHTS.md with commit hash for I5
  TASKS_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

docs: update TASKS_LIVE_INSIGHTS.md with commit hash for I5
  TASKS_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/core-team

feat: implement Flutter frontend for historical insights
  lib/features/live_insights/data/services/live_insights_api_service.dart
  lib/features/live_insights/data/services/live_insights_api_service.g.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/presentation/providers/historical_insights_provider.dart
  lib/features/live_insights/presentation/providers/historical_insights_provider.freezed.dart
  lib/features/live_insights/presentation/providers/live_insights_api_provider.dart
  lib/features/live_insights/presentation/screens/historical_insights_screen.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
  lib/features/live_insights/presentation/widgets/insights_filter_dialog.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

feat: implement Flutter frontend for historical insights
  lib/features/live_insights/data/services/live_insights_api_service.dart
  lib/features/live_insights/data/services/live_insights_api_service.g.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/presentation/providers/historical_insights_provider.dart
  lib/features/live_insights/presentation/providers/historical_insights_provider.freezed.dart
  lib/features/live_insights/presentation/providers/live_insights_api_provider.dart
  lib/features/live_insights/presentation/screens/historical_insights_screen.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
  lib/features/live_insights/presentation/widgets/insights_filter_dialog.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

test: add comprehensive integration tests for live insights feature
  backend/tests/integration/test_live_insights_websocket.py
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
  test/features/live_insights/integration/live_insights_simple_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test: add comprehensive integration tests for live insights feature
  backend/tests/integration/test_live_insights_websocket.py
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
  test/features/live_insights/integration/live_insights_simple_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fixes
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  lib/config.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fixes
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  lib/config.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fixes
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
Owners: @Tell-Me-Mo/frontend-team
