Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

fix: Remove speaker parameter from meeting context search
  backend/services/intelligence/meeting_context_search.py
  backend/services/intelligence/question_handler.py
Owners: @Tell-Me-Mo/backend-team

refactor: Remove unused speaker field from live insights pipeline
  backend/alembic/versions/56fcbb99b2d2_drop_speaker_column_from_live_meeting_.py
  backend/models/live_insight.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/action_handler.py
  backend/services/intelligence/answer_handler.py
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/question_handler.py
Owners: @Tell-Me-Mo/backend-team

fix: Remove speaker from answer broadcast event data
  backend/services/intelligence/answer_handler.py
Owners: @Tell-Me-Mo/backend-team

docs: Update landing page styling and content
  docs/css/style.css
  docs/index.html
Owners: @Tell-Me-Mo/core-team

chore: Remove unused find_grafana_url.py script
  backend/find_grafana_url.py
Owners: @Tell-Me-Mo/backend-team

test: Fix CreateProjectFromHierarchyDialog tests by adding Dialog wrapper
  test/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

test: Fix NotificationOverlay bottom position test expectation
  test/core/widgets/notifications/notification_overlay_test.dart
Owners: @Tell-Me-Mo/frontend-team

test: Remove speaker field assertion from answer discovery test
  backend/tests/integration/test_answer_discovery.py
Owners: @Tell-Me-Mo/backend-team

fix: Fix all Grafana dashboard queries and backend metrics
  backend/grafana_dashboards/1_business_overview.json
  backend/grafana_dashboards/2_llm_cost_optimization.json
  backend/grafana_dashboards/3_organization_health.json
  backend/grafana_dashboards/4_churn_risk_detection.json
  backend/grafana_dashboards/5_sla_performance.json
  backend/grafana_dashboards/6_content_quality.json
  backend/grafana_dashboards/7_time_to_value.json
  backend/observability/business_metrics.py
Owners: @Tell-Me-Mo/backend-team

feat: Upgrade Grafana dashboards with modern widgets and styling
  backend/grafana_dashboards/1_business_overview.json
  backend/grafana_dashboards/2_llm_cost_optimization.json
  backend/grafana_dashboards/3_organization_health.json
  backend/grafana_dashboards/6_content_quality.json
Owners: @Tell-Me-Mo/backend-team

test: Remove speaker field references from all tests
  backend/tests/integration/test_answer_discovery.py
  backend/tests/services/intelligence/test_streaming_orchestrator.py
  backend/tests/unit/test_action_handler.py
  backend/tests/unit/test_answer_handler.py
  backend/tests/unit/test_assemblyai_service.py
  backend/tests/unit/test_gpt_answer_generator.py
  backend/tests/unit/test_live_insight_model.py
  backend/tests/unit/test_question_handler.py
  backend/tests/unit/test_stream_router.py
Owners: @Tell-Me-Mo/backend-team

fix: Correct path conversion logic for Docker RQ worker
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

chore: Add backend/uploads/temp_audio/ to .gitignore
  .gitignore
Owners: @Tell-Me-Mo/core-team

fix: Correct Docker path conversion logic for RQ worker (#102)
  .gitignore
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Correct Docker path conversion logic for RQ worker (#102)
  .gitignore
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

docs: Add comprehensive 30-day social media content calendar
  SOCIAL_MEDIA_CONTENT_CALENDAR_30_DAYS.md
Owners: @Tell-Me-Mo/core-team

docs: Add comprehensive 30-day social media content calendar
  SOCIAL_MEDIA_CONTENT_CALENDAR_30_DAYS.md
Owners: @Tell-Me-Mo/core-team

chore: Upgrade dependencies and migrate to Python 3.14
  backend/Dockerfile
  backend/db/multi_tenant_vector_store.py
  backend/pytest.ini
  backend/requirements.txt
  backend/tests/conftest.py
  docker-compose.prod.yml
  docker-compose.yml
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
  lib/features/queries/presentation/widgets/query_response_card.dart
  pubspec.lock
  pubspec.yaml
  test/features/queries/presentation/widgets/query_response_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/devops-team, @Tell-Me-Mo/frontend-team

fix: Resolve failing provider override tests and improve test isolation
  backend/db/multi_tenant_vector_store.py
  backend/pytest.ini
  backend/services/intelligence/question_handler.py
  backend/tests/conftest.py
  backend/tests/integration/test_answer_discovery.py
  backend/tests/integration/test_organizations.py
  backend/tests/integration/test_projects.py
  backend/tests/integration/test_provider_override.py
Owners: @Tell-Me-Mo/backend-team

chore: Upgrade dependencies and migrate to Python 3.14 (#122)
  backend/Dockerfile
  backend/db/multi_tenant_vector_store.py
  backend/pytest.ini
  backend/requirements.txt
  backend/services/intelligence/question_handler.py
  backend/tests/conftest.py
  backend/tests/integration/test_answer_discovery.py
  backend/tests/integration/test_organizations.py
  backend/tests/integration/test_projects.py
  backend/tests/integration/test_provider_override.py
  docker-compose.prod.yml
  docker-compose.yml
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
  lib/features/queries/presentation/widgets/query_response_card.dart
  pubspec.lock
  pubspec.yaml
  test/features/queries/presentation/widgets/query_response_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/devops-team, @Tell-Me-Mo/frontend-team

chore: Upgrade dependencies and migrate to Python 3.14 (#122)
  backend/Dockerfile
  backend/db/multi_tenant_vector_store.py
  backend/pytest.ini
  backend/requirements.txt
  backend/services/intelligence/question_handler.py
  backend/tests/conftest.py
  backend/tests/integration/test_answer_discovery.py
  backend/tests/integration/test_organizations.py
  backend/tests/integration/test_projects.py
  backend/tests/integration/test_provider_override.py
  docker-compose.prod.yml
  docker-compose.yml
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
  lib/features/queries/presentation/widgets/query_response_card.dart
  pubspec.lock
  pubspec.yaml
  test/features/queries/presentation/widgets/query_response_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/devops-team, @Tell-Me-Mo/frontend-team

fix: Fix HuggingFace token authentication and suppress model warnings
  backend/alembic/versions/b507803113ba_merge_multiple_heads.py
  backend/main.py
  backend/services/intelligence/meeting_intelligence.py
  backend/services/rag/hybrid_search.py
  backend/services/rag/intelligent_chunking.py
  backend/services/rag/multi_query_retrieval.py
  backend/services/transcription/advanced_transcript_parser.py
Owners: @Tell-Me-Mo/backend-team

feat: Add GPT-4.1 and Claude Haiku 4.5 model support
  backend/models/integration.py
  backend/services/llm/multi_llm_client.py
Owners: @Tell-Me-Mo/backend-team

feat: Upgrade zero-shot and cross-encoder models for better performance
  backend/config.py
  backend/services/intelligence/zeroshot_validator_service.py
  backend/services/rag/hybrid_search.py
Owners: @Tell-Me-Mo/backend-team

test: Update fallback tests for GPT-4.1-mini model mapping
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

fix: Update default LLM configuration to new models
  backend/config.py
Owners: @Tell-Me-Mo/backend-team

refactor: Replace stdout redirection with transformers logging config
  backend/services/rag/hybrid_search.py
Owners: @Tell-Me-Mo/backend-team

refactor: Use settings.hf_token instead of os.environ.get
  backend/services/intelligence/meeting_intelligence.py
  backend/services/rag/hybrid_search.py
  backend/services/rag/intelligent_chunking.py
  backend/services/rag/multi_query_retrieval.py
  backend/services/transcription/advanced_transcript_parser.py
Owners: @Tell-Me-Mo/backend-team

feat: Upgrade LLM models to GPT-4.1 and Claude Haiku 4.5 (#123)
  backend/alembic/versions/b507803113ba_merge_multiple_heads.py
  backend/config.py
  backend/main.py
  backend/models/integration.py
  backend/services/intelligence/meeting_intelligence.py
  backend/services/intelligence/zeroshot_validator_service.py
  backend/services/llm/multi_llm_client.py
  backend/services/rag/hybrid_search.py
  backend/services/rag/intelligent_chunking.py
  backend/services/rag/multi_query_retrieval.py
  backend/services/transcription/advanced_transcript_parser.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

feat: Upgrade LLM models to GPT-4.1 and Claude Haiku 4.5 (#123)
  backend/alembic/versions/b507803113ba_merge_multiple_heads.py
  backend/config.py
  backend/main.py
  backend/models/integration.py
  backend/services/intelligence/meeting_intelligence.py
  backend/services/intelligence/zeroshot_validator_service.py
  backend/services/llm/multi_llm_client.py
  backend/services/rag/hybrid_search.py
  backend/services/rag/intelligent_chunking.py
  backend/services/rag/multi_query_retrieval.py
  backend/services/transcription/advanced_transcript_parser.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

feat: Migrate from SendGrid to Resend for email delivery
  .env.example
  backend/config.py
  backend/main.py
  backend/requirements.txt
  backend/routers/email_admin.py
  backend/services/email/__init__.py
  backend/services/email/digest_service.py
  backend/services/email/resend_service.py
  backend/services/email/sendgrid_service.py
  backend/services/integrations/email_service.py
  backend/tasks/email_tasks.py
  backend/tests/integration/test_email_digest.py
  backend/tests/test_resend_redis_rate_limit.py
  backend/tests/test_sendgrid_redis_rate_limit.py
  lib/config.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Re-implement Redis-backed rate limiting for Resend service
  backend/services/email/resend_service.py
  backend/tests/test_resend_redis_rate_limit.py
Owners: @Tell-Me-Mo/backend-team

fix: Downgrade Python from 3.14.2 to 3.13.11 in Dockerfile
  backend/Dockerfile
Owners: @Tell-Me-Mo/backend-team

feat: Migrate from SendGrid to Resend for email delivery (#124)
  .env.example
  backend/Dockerfile
  backend/config.py
  backend/main.py
  backend/requirements.txt
  backend/routers/email_admin.py
  backend/services/email/__init__.py
  backend/services/email/digest_service.py
  backend/services/email/resend_service.py
  backend/services/email/sendgrid_service.py
  backend/services/integrations/email_service.py
  backend/tasks/email_tasks.py
  backend/tests/integration/test_email_digest.py
  backend/tests/test_resend_redis_rate_limit.py
  backend/tests/test_sendgrid_redis_rate_limit.py
  lib/config.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Migrate from SendGrid to Resend for email delivery (#124)
  .env.example
  backend/Dockerfile
  backend/config.py
  backend/main.py
  backend/requirements.txt
  backend/routers/email_admin.py
  backend/services/email/__init__.py
  backend/services/email/digest_service.py
  backend/services/email/resend_service.py
  backend/services/email/sendgrid_service.py
  backend/services/integrations/email_service.py
  backend/tasks/email_tasks.py
  backend/tests/integration/test_email_digest.py
  backend/tests/test_resend_redis_rate_limit.py
  backend/tests/test_sendgrid_redis_rate_limit.py
  lib/config.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Add RQ_WORKER_IN_DOCKER config for local worker support
  backend/config.py
  backend/routers/transcription.py
Owners: @Tell-Me-Mo/backend-team

fix: Correct LLM model name in logs and improve language detection
  backend/services/llm/langdetect_service.py
  backend/services/llm/multi_llm_client.py
  backend/services/summaries/summary_service_refactored.py
Owners: @Tell-Me-Mo/backend-team

fix: Remove is_available() check that blocked language detection in worker
  backend/services/core/content_service.py
Owners: @Tell-Me-Mo/backend-team

chore: Upgrade language detection log from debug to info level
  backend/services/llm/langdetect_service.py
Owners: @Tell-Me-Mo/backend-team

test: Add unit tests for language detection format handling
  backend/tests/unit/test_langdetect_service.py
Owners: @Tell-Me-Mo/backend-team
