Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

test: Fix compilation errors in expandable_text_container_test.dart
  test/shared/widgets/expandable_text_container_test.dart
Owners: @Tell-Me-Mo/frontend-team

test: Fix risk kanban card severity badge tests
  test/features/risks/presentation/widgets/risk_kanban_card_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Add context_id to conversations for context-specific filtering
  backend/alembic/versions/6c7942ee0af2_add_context_id_to_conversations.py
  backend/models/conversation.py
  backend/routers/conversations.py
  lib/core/network/api_client.dart
  lib/features/queries/presentation/providers/query_provider.dart
  test/mocks/mock_api_client.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

ui: Enhance right panel UX with text selection, truncation, and search optimization (#72)
  backend/alembic/versions/6c7942ee0af2_add_context_id_to_conversations.py
  backend/models/conversation.py
  backend/routers/conversations.py
  backend/services/rag/hybrid_search.py
  backend/tests/integration/test_rag_pipeline.py
  lib/core/network/api_client.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_compact.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/queries/presentation/providers/query_provider.dart
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
  lib/features/risks/presentation/widgets/risk_kanban_card.dart
  lib/features/risks/presentation/widgets/risk_list_tile_compact.dart
  lib/features/summaries/presentation/widgets/enhanced_action_items_widget.dart
  lib/features/summaries/presentation/widgets/enhanced_decisions_widget.dart
  lib/features/summaries/presentation/widgets/open_questions_widget.dart
  lib/features/summaries/presentation/widgets/risks_blockers_widget.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_kanban_card.dart
  lib/shared/widgets/ai_assist_button.dart
  lib/shared/widgets/expandable_text_container.dart
  lib/shared/widgets/item_detail_panel.dart
  lib/shared/widgets/item_updates_tab.dart
  test/features/risks/presentation/widgets/risk_kanban_card_test.dart
  test/mocks/mock_api_client.dart
  test/shared/widgets/ai_assist_button_test.dart
  test/shared/widgets/expandable_text_container_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

ui: Enhance right panel UX with text selection, truncation, and search optimization (#72)
  backend/alembic/versions/6c7942ee0af2_add_context_id_to_conversations.py
  backend/models/conversation.py
  backend/routers/conversations.py
  backend/services/rag/hybrid_search.py
  backend/tests/integration/test_rag_pipeline.py
  lib/core/network/api_client.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_compact.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/queries/presentation/providers/query_provider.dart
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
  lib/features/risks/presentation/widgets/risk_kanban_card.dart
  lib/features/risks/presentation/widgets/risk_list_tile_compact.dart
  lib/features/summaries/presentation/widgets/enhanced_action_items_widget.dart
  lib/features/summaries/presentation/widgets/enhanced_decisions_widget.dart
  lib/features/summaries/presentation/widgets/open_questions_widget.dart
  lib/features/summaries/presentation/widgets/risks_blockers_widget.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_kanban_card.dart
  lib/shared/widgets/ai_assist_button.dart
  lib/shared/widgets/expandable_text_container.dart
  lib/shared/widgets/item_detail_panel.dart
  lib/shared/widgets/item_updates_tab.dart
  test/features/risks/presentation/widgets/risk_kanban_card_test.dart
  test/mocks/mock_api_client.dart
  test/shared/widgets/ai_assist_button_test.dart
  test/shared/widgets/expandable_text_container_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Upgrade to Claude Haiku 4.5 model with OpenAI fallback support
  backend/config.py
  backend/models/integration.py
  backend/routers/integrations.py
Owners: @Tell-Me-Mo/backend-team

feat: Implement intelligent semantic deduplication with embedding-based matching
  HLD.md
  backend/alembic/versions/77dd4a4b845e_add_title_embedding_to_items.py
  backend/config.py
  backend/models/blocker.py
  backend/models/lesson_learned.py
  backend/models/risk.py
  backend/models/task.py
  backend/scripts/backfill_embeddings.py
  backend/services/intelligence/semantic_deduplicator.py
  backend/services/sync/project_items_sync_service.py
  backend/tests/integration/test_semantic_deduplication.py
  docs/INTELIGENT_DEDUPLICATION_AND_UPDATE.md
  docs/INTELLIGENT_DEDUPLICATION_IMPLEMENTATION.md
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Add date context to LLM prompts to prevent incorrect year parsing
  backend/services/prompts/summary_prompts.py
Owners: @Tell-Me-Mo/backend-team

feat: Implement automatic task/risk/blocker closure detection (Issue #4)
  backend/services/prompts/risks_tasks_prompts_complete.py
  backend/services/sync/project_items_sync_service.py
  backend/tests/integration/test_auto_closure.py
  docs/UPLOAD_QUALITY_EVALUATION_2025-10-13.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: Enhance assignee and participant extraction in meeting summaries (Issue #5)
  backend/services/prompts/summary_prompts.py
Owners: @Tell-Me-Mo/backend-team

Clean Up
  MIGRATION_COMPLETED.md
  docs/INTELIGENT_DEDUPLICATION_AND_UPDATE.md
Owners: @Tell-Me-Mo/core-team

fix: Ensure consistent embedding strategy to prevent dimension mismatch
  backend/services/intelligence/semantic_deduplicator.py
Owners: @Tell-Me-Mo/backend-team

refactor: Remove obsolete backfill_embeddings.py script
  backend/scripts/backfill_embeddings.py
Owners: @Tell-Me-Mo/backend-team

fix: Add defensive validation for status update index handling
  backend/services/sync/project_items_sync_service.py
Owners: @Tell-Me-Mo/backend-team

fix: Resolve backend test failures with embedding mocks and model mapping
  backend/tests/conftest.py
  backend/tests/integration/test_semantic_deduplication.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

fix: Add migration to ensure title_embedding columns exist
  backend/alembic/versions/729cd7038d25_fix_add_title_embedding_columns_if_.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/config.py
Owners: @Tell-Me-Mo/backend-team

fix: Refresh hierarchy state after creating project from dialog
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Item creation fixes
  backend/routers/upload.py
  backend/services/core/content_service.py
  backend/services/intelligence/risks_tasks_analyzer_service.py
  backend/services/intelligence/semantic_deduplicator.py
  backend/services/prompts/summary_prompts.py
  backend/services/sync/project_items_sync_service.py
Owners: @Tell-Me-Mo/backend-team

Removed Langfuse
  backend/db/database.py
  backend/db/init/01_init_langfuse.sql
  backend/db/multi_tenant_vector_store.py
  backend/main.py
  backend/middleware/__init__.py
  backend/middleware/langfuse_middleware.py
  backend/routers/content.py
  backend/routers/health.py
  backend/routers/lessons_learned.py
  backend/services/activity/activity_service.py
  backend/services/core/content_service.py
  backend/services/hierarchy/hierarchy_service.py
  backend/services/hierarchy/portfolio_service.py
  backend/services/hierarchy/program_service.py
  backend/services/hierarchy/project_service.py
  backend/services/integrations/integration_service.py
  backend/services/intelligence/meeting_intelligence.py
  backend/services/intelligence/project_description_service.py
  backend/services/intelligence/project_matcher_service.py
  backend/services/intelligence/risks_tasks_analyzer_service.py
  backend/services/intelligence/semantic_deduplicator.py
  backend/services/llm/multi_llm_client.py
  backend/services/observability/langfuse_service.py
  backend/services/rag/chunking_service.py
  backend/services/rag/embedding_service.py
  backend/services/rag/enhanced_rag_service_refactored.py
  backend/services/rag/hybrid_search.py
  backend/services/rag/intelligent_chunking.py
  backend/services/rag/multi_query_retrieval.py
  backend/services/scheduling/scheduler_service.py
  backend/services/summaries/summary_service_refactored.py
  backend/services/sync/project_items_sync_service.py
  backend/services/transcription/advanced_transcript_parser.py
  backend/services/transcription/fireflies_service.py
  backend/services/transcription/transcript_parser.py
  backend/services/transcription/whisper_service.py
  backend/tests/integration/test_observability.py
  backend/utils/monitoring.py
Owners: @Tell-Me-Mo/backend-team

perf: Use cached embeddings in semantic deduplication
  backend/services/intelligence/semantic_deduplicator.py
Owners: @Tell-Me-Mo/backend-team

fix: Use configured LLM model instead of hardcoded value in semantic deduplicator
  backend/services/intelligence/semantic_deduplicator.py
Owners: @Tell-Me-Mo/backend-team

feat: Add comprehensive logging to content processing pipeline
  backend/services/intelligence/risks_tasks_analyzer_service.py
  backend/services/intelligence/semantic_deduplicator.py
  backend/services/summaries/summary_service_refactored.py
  backend/services/sync/project_items_sync_service.py
Owners: @Tell-Me-Mo/backend-team

feat: Add DeepSeek provider and enhance multi-LLM client architecture
  .env.example
  backend/config.py
  backend/models/integration.py
  backend/routers/portfolios.py
  backend/services/intelligence/project_description_service.py
  backend/services/intelligence/project_matcher_service.py
  backend/services/intelligence/risks_tasks_analyzer_service.py
  backend/services/intelligence/semantic_deduplicator.py
  backend/services/llm/multi_llm_client.py
  backend/services/prompts/summary_prompts.py
  backend/services/rag/enhanced_rag_service_refactored.py
  backend/services/summaries/summary_service_refactored.py
  backend/services/sync/project_items_sync_service.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

fix: Remove automatic list refresh on panel close for risks and blockers
  lib/features/projects/presentation/widgets/project_blockers_widget.dart
  lib/features/projects/presentation/widgets/project_risks_widget.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Add SendGrid environment variables to rq-worker in production compose
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

test: Fix auto-closure and LLM fallback test data formats
  backend/tests/integration/test_auto_closure.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

config: Add missing environment variables to docker-compose.prod.yml
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

ui: Optimize item detail panel header for mobile view
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Mobile UX improvements for item detail panels (#74)
  docker-compose.prod.yml
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

ui: Mobile UX improvements for item detail panels (#74)
  docker-compose.prod.yml
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

docs: Update HLD.md with email digest system, dual auth, and missing components
  HLD.md
Owners: @Tell-Me-Mo/core-team

docs: Comprehensive CHANGELOG.md rewrite from all Pull Requests
  CHANGELOG.md
Owners: @Tell-Me-Mo/core-team

docs: Update README.md with complete tech stack and recent updates section
  README.md
Owners: @Tell-Me-Mo/core-team

docs: Comprehensive documentation improvements for HLD, CHANGELOG, and README (#75)
  CHANGELOG.md
  HLD.md
  README.md
Owners: @Tell-Me-Mo/core-team

docs: Comprehensive documentation improvements for HLD, CHANGELOG, and README (#75)
  CHANGELOG.md
  HLD.md
  README.md
Owners: @Tell-Me-Mo/core-team

ui: Add time expectation messages to summary generation progress indicators
  CLAUDE.md
  backend/config.py
  backend/queue_config.py
  backend/routers/unified_summaries.py
  backend/routers/websocket_jobs.py
  backend/services/summaries/summary_service_refactored.py
  backend/tasks/summary_tasks.py
  docker-compose.prod.yml
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/summaries/data/models/summary_model.dart
  lib/features/summaries/data/models/summary_model.freezed.dart
  lib/features/summaries/data/models/summary_model.g.dart
  lib/features/summaries/data/models/unified_summary_model.dart
  lib/features/summaries/data/models/unified_summary_model.freezed.dart
  lib/features/summaries/data/models/unified_summary_model.g.dart
  lib/features/summaries/presentation/providers/summary_provider.dart
  lib/features/summaries/presentation/providers/unified_summary_provider.dart
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/summary_generation_dialog.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

ui: Add sticky bottom action bar for mobile edit/create modes
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Eliminate duplicate conversation history entries in Ask AI panel
  lib/features/queries/presentation/providers/query_provider.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Remove Critical filter chip from Risks navigation
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
Owners: @Tell-Me-Mo/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
