Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

Fixes
  backend/routers/websocket_live_insights.py
  backend/services/transcription/replicate_transcription_service.py
  docs/AUDIO_STREAMING_FIX.md
  docs/HLD_LIVE_INSIGHTS.md
  docs/LIVE_INSIGHTS_OPTIMIZATIONS.md
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  backend/routers/websocket_live_insights.py
  backend/services/transcription/replicate_transcription_service.py
  docs/AUDIO_STREAMING_FIX.md
  docs/HLD_LIVE_INSIGHTS.md
  docs/LIVE_INSIGHTS_OPTIMIZATIONS.md
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 1 Active Meeting Intelligence - Question Auto-Answering
  IMPLEMENTATION_SUMMARY_PHASE1.md
  INTEGRATION_TESTS_PHASE1.md
  TASKS_ACTIVE_INSIGHTS.md
  backend/services/intelligence/question_answering_service.py
  backend/services/intelligence/question_detector.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_question_auto_answering.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 1 Active Meeting Intelligence - Question Auto-Answering
  IMPLEMENTATION_SUMMARY_PHASE1.md
  INTEGRATION_TESTS_PHASE1.md
  TASKS_ACTIVE_INSIGHTS.md
  backend/services/intelligence/question_answering_service.py
  backend/services/intelligence/question_detector.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_question_auto_answering.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 2 Active Meeting Intelligence - Proactive Clarification
  IMPLEMENTATION_SUMMARY_PHASE2.md
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_clarification.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  test/features/live_insights/integration/clarification_integration_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 2 Active Meeting Intelligence - Proactive Clarification
  IMPLEMENTATION_SUMMARY_PHASE2.md
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_clarification.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  test/features/live_insights/integration/clarification_integration_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

chore: regenerate recording_provider.g.dart from build_runner
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

chore: regenerate recording_provider.g.dart from build_runner
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

feat: implement Phase 3 Active Meeting Intelligence - Real-Time Conflict Detection
  IMPLEMENTATION_SUMMARY_PHASE3.md
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_conflict_detection.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 3 Active Meeting Intelligence - Real-Time Conflict Detection
  IMPLEMENTATION_SUMMARY_PHASE3.md
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_conflict_detection.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test: Add integration tests for Phase 4 Action Item Quality Enhancement
  backend/services/intelligence/action_item_quality_service.py
  backend/tests/integration/test_action_item_quality.py
  test/features/live_insights/presentation/widgets/action_item_quality_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test: Add integration tests for Phase 4 Action Item Quality Enhancement
  backend/services/intelligence/action_item_quality_service.py
  backend/tests/integration/test_action_item_quality.py
  test/features/live_insights/presentation/widgets/action_item_quality_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Complete Phase 4 Active Meeting Intelligence - Action Item Quality Enhancement
  IMPLEMENTATION_SUMMARY_PHASE4.md
  backend/services/intelligence/realtime_meeting_insights.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Complete Phase 4 Active Meeting Intelligence - Action Item Quality Enhancement
  IMPLEMENTATION_SUMMARY_PHASE4.md
  backend/services/intelligence/realtime_meeting_insights.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 5 Active Meeting Intelligence - Follow-up Suggestions
  IMPLEMENTATION_SUMMARY_PHASE5.md
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_follow_up_suggestions.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  test/features/live_insights/widgets/follow_up_suggestion_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 5 Active Meeting Intelligence - Follow-up Suggestions
  IMPLEMENTATION_SUMMARY_PHASE5.md
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_follow_up_suggestions.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  test/features/live_insights/widgets/follow_up_suggestion_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 6 Active Meeting Intelligence - Meeting Efficiency Features
  IMPLEMENTATION_SUMMARY_PHASE5.md
  IMPLEMENTATION_SUMMARY_PHASE6.md
  backend/services/intelligence/meeting_time_tracker_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/repetition_detector_service.py
  backend/tests/integration/test_meeting_efficiency.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: implement Phase 6 Active Meeting Intelligence - Meeting Efficiency Features
  IMPLEMENTATION_SUMMARY_PHASE5.md
  IMPLEMENTATION_SUMMARY_PHASE6.md
  backend/services/intelligence/meeting_time_tracker_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/repetition_detector_service.py
  backend/tests/integration/test_meeting_efficiency.py
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test: Fix question auto-answering test mocks for Phase 1 implementation
  backend/tests/integration/test_question_auto_answering.py
Owners: @Tell-Me-Mo/backend-team

test: Fix question auto-answering test mocks for Phase 1 implementation
  backend/tests/integration/test_question_auto_answering.py
Owners: @Tell-Me-Mo/backend-team

test fixes
  backend/tests/integration/test_question_auto_answering.py
  test/features/live_insights/integration/live_insights_integration_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test fixes
  backend/tests/integration/test_question_auto_answering.py
  test/features/live_insights/integration/live_insights_integration_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  TASKS_ACTIVE_INSIGHTS.md
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/question_answering_service.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fixes
  TASKS_ACTIVE_INSIGHTS.md
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/question_answering_service.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

UI Fixes
  LIVE_INSIGHTS_SEPARATE_WINDOW.md
  lib/app/router/app_router.dart
  lib/app/router/app_router.g.dart
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

UI Fixes
  LIVE_INSIGHTS_SEPARATE_WINDOW.md
  lib/app/router/app_router.dart
  lib/app/router/app_router.g.dart
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  lib/shared/widgets/record_meeting_dialog.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  TASKS_ACTIVE_INSIGHTS.md
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fixes
  TASKS_ACTIVE_INSIGHTS.md
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Improve WebSocket disconnect error handling in live insights
  backend/routers/websocket_live_insights.py
Owners: @Tell-Me-Mo/backend-team

fix: Improve WebSocket disconnect error handling in live insights
  backend/routers/websocket_live_insights.py
Owners: @Tell-Me-Mo/backend-team

Fixes
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fixes
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  test_meeting_transcript.txt
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fixes
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  test_meeting_transcript.txt
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

Fixes
  backend/config.py
  backend/models/integration.py
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fixes
  backend/config.py
  backend/models/integration.py
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/core-team

fixes
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/core-team

refactor: Redesign recording flow with unified right panel and integrated live insights
  lib/app/router/app_router.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/shared/widgets/record_meeting_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: Redesign recording flow with unified right panel and integrated live insights
  lib/app/router/app_router.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/live_insights/presentation/pages/live_insights_window_page.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/shared/widgets/record_meeting_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team
