Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

fix: Update environment variable references from ENVIRONMENT to API_ENV for consistency
  .env.example
  backend/tests/conftest.py
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

fix: Update environment variable references from ENVIRONMENT to API_ENV for consistency
  .env.example
  backend/tests/conftest.py
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

fix: Add Firebase configuration and platform-specific directories to .gitignore
  .gitignore
Owners: @Tell-Me-Mo/core-team

fix: Add Firebase configuration and platform-specific directories to .gitignore
  .gitignore
Owners: @Tell-Me-Mo/core-team

fix: Update Logstash port configuration to use localhost only for security
  .env.example
  backend/config.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: Update Logstash port configuration to use localhost only for security
  .env.example
  backend/config.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: Update package versions and Dart SDK constraint for compatibility
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Update package versions and Dart SDK constraint for compatibility
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Update Dart SDK constraint and dependency versions for compatibility
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Update Dart SDK constraint and dependency versions for compatibility
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

refactor: Migrate to app_config for environment configuration and remove dotenv dependency
  .env.example
  .github/workflows/frontend-docker.yml
  .gitignore
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  lib/config.dart
  lib/core/config/_env_config_stub.dart
  lib/core/config/_env_config_web.dart
  lib/core/config/api_config.dart
  lib/core/config/app_config.dart
  lib/core/config/env_config.dart
  lib/core/config/supabase_config.dart
  lib/core/network/interceptors.dart
  lib/features/audio_recording/domain/services/transcription_service.dart
  lib/features/auth/data/repositories/auth_repository_factory.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

refactor: Migrate to app_config for environment configuration and remove dotenv dependency
  .env.example
  .github/workflows/frontend-docker.yml
  .gitignore
  Dockerfile
  docker-compose.prod.yml
  docker-compose.yml
  lib/config.dart
  lib/core/config/_env_config_stub.dart
  lib/core/config/_env_config_web.dart
  lib/core/config/api_config.dart
  lib/core/config/app_config.dart
  lib/core/config/env_config.dart
  lib/core/config/supabase_config.dart
  lib/core/network/interceptors.dart
  lib/features/audio_recording/domain/services/transcription_service.dart
  lib/features/auth/data/repositories/auth_repository_factory.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Update Docker and database configurations for compatibility and improved logging
  .github/workflows/frontend-docker.yml
  backend/alembic/versions/003_add_activities_table.py
  backend/alembic/versions/ee309bf732c6_drop_custom_format_templates_table.py
  backend/requirements.txt
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: Update Docker and database configurations for compatibility and improved logging
  .github/workflows/frontend-docker.yml
  backend/alembic/versions/003_add_activities_table.py
  backend/alembic/versions/ee309bf732c6_drop_custom_format_templates_table.py
  backend/requirements.txt
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Enable Sentry and Firebase Analytics in configuration
  backend/alembic/versions/1056eb2594d0_add_activity_metadata_column.py
  lib/config.dart
  lib/main.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Enable Sentry and Firebase Analytics in configuration
  backend/alembic/versions/1056eb2594d0_add_activity_metadata_column.py
  lib/config.dart
  lib/main.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Update PostgreSQL and Qdrant images to latest versions in docker-compose
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

fix: Update PostgreSQL and Qdrant images to latest versions in docker-compose
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

Fixes
  lib/config.dart
  lib/firebase_options_stub.dart
  lib/main.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  lib/config.dart
  lib/firebase_options_stub.dart
  lib/main.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Handle multiline const declarations in GitHub workflow
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Handle multiline const declarations in GitHub workflow
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Preserve semicolons in all sed replacements in workflow
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Preserve semicolons in all sed replacements in workflow
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Remove .env from Flutter assets
  pubspec.yaml
Owners: @Tell-Me-Mo/frontend-team

fix: Remove .env from Flutter assets
  pubspec.yaml
Owners: @Tell-Me-Mo/frontend-team

fix: Use GitHub API to create tags instead of git push
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Use GitHub API to create tags instead of git push
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Handle existing tags gracefully in workflows
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fix: Handle existing tags gracefully in workflows
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

Fixes
  lib/config.dart
  lib/main.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  lib/config.dart
  lib/main.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Add Firebase configuration to repository
  .gitignore
  lib/firebase_options.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add Firebase configuration to repository
  .gitignore
  lib/firebase_options.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

chore: Remove unused firebase_options_stub.dart
  lib/firebase_options_stub.dart
Owners: @Tell-Me-Mo/frontend-team

chore: Remove unused firebase_options_stub.dart
  lib/firebase_options_stub.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  lib/firebase_options.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  lib/firebase_options.dart
Owners: @Tell-Me-Mo/frontend-team

Disable docs
  backend/main.py
Owners: @Tell-Me-Mo/backend-team

Disable docs
  backend/main.py
Owners: @Tell-Me-Mo/backend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
