Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

fix: Improve app stability with language detection and worker config fixes (#131)
  backend/config.py
  backend/routers/transcription.py
  backend/services/core/content_service.py
  backend/services/llm/langdetect_service.py
  backend/services/llm/multi_llm_client.py
  backend/services/summaries/summary_service_refactored.py
  backend/tests/unit/test_langdetect_service.py
Owners: @Tell-Me-Mo/backend-team

fix: Improve app stability with language detection and worker config fixes (#131)
  backend/config.py
  backend/routers/transcription.py
  backend/services/core/content_service.py
  backend/services/llm/langdetect_service.py
  backend/services/llm/multi_llm_client.py
  backend/services/summaries/summary_service_refactored.py
  backend/tests/unit/test_langdetect_service.py
Owners: @Tell-Me-Mo/backend-team

fix: Replace realistic API key placeholders to prevent SEO indexing
  docs/documentation.html
Owners: @Tell-Me-Mo/core-team

feat: Add SEO-optimized blog posts targeting search keywords
  docs/blog.html
  docs/blog/open-source-meeting-transcription.html
  docs/blog/otter-alternative.html
  docs/blog/self-hosted-meeting-assistant.html
  docs/sitemap.xml
Owners: @Tell-Me-Mo/core-team

fix: Use consistent category badges for new blog posts
  docs/blog.html
Owners: @Tell-Me-Mo/core-team

feat: Add llms.txt for AI crawler discovery
  docs/llms.txt
Owners: @Tell-Me-Mo/core-team

fix: Hide hamburger menu on desktop view
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

feat: Add FAQ schema and internal links to all blog posts
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/sitemap.xml
Owners: @Tell-Me-Mo/core-team

fix: Improve SEO across all pages
  docs/404.html
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/contact.html
  docs/documentation.html
  docs/index.html
  docs/privacy.html
  docs/sitemap.xml
  docs/terms.html
Owners: @Tell-Me-Mo/core-team

fix: Complete SEO optimization for all pages
  docs/404.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/remote-work-success.html
  docs/privacy.html
  docs/robots.txt
  docs/terms.html
Owners: @Tell-Me-Mo/core-team

feat: Complete website SEO optimization and fixes (#132)
  docs/404.html
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/open-source-meeting-transcription.html
  docs/blog/otter-alternative.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/self-hosted-meeting-assistant.html
  docs/blog/stopped-taking-notes.html
  docs/contact.html
  docs/css/style.css
  docs/documentation.html
  docs/index.html
  docs/llms.txt
  docs/privacy.html
  docs/robots.txt
  docs/sitemap.xml
  docs/terms.html
Owners: @Tell-Me-Mo/core-team

feat: Complete website SEO optimization and fixes (#132)
  docs/404.html
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/open-source-meeting-transcription.html
  docs/blog/otter-alternative.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/self-hosted-meeting-assistant.html
  docs/blog/stopped-taking-notes.html
  docs/contact.html
  docs/css/style.css
  docs/documentation.html
  docs/index.html
  docs/llms.txt
  docs/privacy.html
  docs/robots.txt
  docs/sitemap.xml
  docs/terms.html
Owners: @Tell-Me-Mo/core-team

fix: Add missing RESEND_API_KEY to docker-compose and update docs
  HLD.md
  USER_JOURNEY.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/documentation.html
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/devops-team

fix: Add missing RESEND_API_KEY to docker-compose and update docs (#133)
  HLD.md
  USER_JOURNEY.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/documentation.html
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/devops-team

fix: Add missing RESEND_API_KEY to docker-compose and update docs (#133)
  HLD.md
  USER_JOURNEY.md
  docker-compose.prod.yml
  docker-compose.yml
  docs/documentation.html
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/devops-team

fix: Improve security, streaming stability, and upload validation
  backend/routers/content.py
  backend/routers/upload.py
  backend/routers/websocket_live_insights.py
  backend/services/core/content_service.py
  backend/services/transcription/assemblyai_service.py
  lib/core/constants/validation_constants.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/auth/presentation/screens/password_reset_screen.dart
  lib/features/auth/presentation/screens/signup_screen.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  lib/shared/widgets/upload_content_dialog.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

chore: Upgrade Flutter 3.38.9 → 3.41.2 and Dart 3.10.8 → 3.11.0
  pubspec.lock
Owners: @Tell-Me-Mo/core-team

fix: Extract content validation util, await subscription cleanup, fix tests
  backend/routers/content.py
  backend/routers/upload.py
  backend/utils/content_validation.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/profile/presentation/widgets/change_password_dialog.dart
  test/core/constants/validation_constants_test.dart
  test/features/profile/presentation/widgets/change_password_dialog_test.dart
  test/widget/screens/auth/password_reset_screen_test.dart
  test/widget/screens/auth/signup_screen_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Handle async errors in stream listener, cap failure counter, fix signature check
  backend/routers/websocket_live_insights.py
  backend/utils/content_validation.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Ensure dispose() runs even if stopStreaming() throws in cleanup
  lib/features/audio_recording/presentation/providers/recording_provider.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Improve security, streaming stability, and upload validation (#158)
  backend/routers/content.py
  backend/routers/upload.py
  backend/routers/websocket_live_insights.py
  backend/services/core/content_service.py
  backend/services/transcription/assemblyai_service.py
  backend/utils/content_validation.py
  lib/core/constants/validation_constants.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/auth/presentation/screens/password_reset_screen.dart
  lib/features/auth/presentation/screens/signup_screen.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  lib/features/profile/presentation/widgets/change_password_dialog.dart
  lib/shared/widgets/upload_content_dialog.dart
  pubspec.lock
  test/core/constants/validation_constants_test.dart
  test/features/profile/presentation/widgets/change_password_dialog_test.dart
  test/widget/screens/auth/password_reset_screen_test.dart
  test/widget/screens/auth/signup_screen_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fix: Improve security, streaming stability, and upload validation (#158)
  backend/routers/content.py
  backend/routers/upload.py
  backend/routers/websocket_live_insights.py
  backend/services/core/content_service.py
  backend/services/transcription/assemblyai_service.py
  backend/utils/content_validation.py
  lib/core/constants/validation_constants.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/auth/presentation/screens/password_reset_screen.dart
  lib/features/auth/presentation/screens/signup_screen.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  lib/features/profile/presentation/widgets/change_password_dialog.dart
  lib/shared/widgets/upload_content_dialog.dart
  pubspec.lock
  test/core/constants/validation_constants_test.dart
  test/features/profile/presentation/widgets/change_password_dialog_test.dart
  test/widget/screens/auth/password_reset_screen_test.dart
  test/widget/screens/auth/signup_screen_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fix: Add is_demo field to task/risk/blocker models and guard demo seeding
  backend/routers/organizations.py
  lib/features/projects/data/models/blocker_model.dart
  lib/features/projects/data/models/risk_model.dart
  lib/features/projects/data/models/risk_model.freezed.dart
  lib/features/projects/data/models/risk_model.g.dart
  lib/features/projects/data/models/task_model.dart
  lib/features/projects/data/models/task_model.freezed.dart
  lib/features/projects/data/models/task_model.g.dart
  lib/features/projects/domain/entities/blocker.dart
  lib/features/projects/domain/entities/risk.dart
  lib/features/projects/domain/entities/task.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Replace SnackBar with notification service in demo banner
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart.backup
  lib/shared/widgets/demo_data_banner.dart
Owners: @Tell-Me-Mo/frontend-team

docs: Add comprehensive security audit report for post-vibecoding review
  SECURITY_AUDIT_VIBECODING.md
Owners: @Tell-Me-Mo/core-team

fix: Simplify CLAUDE.md to generic behavioral guidelines
  CLAUDE.md
Owners: @Tell-Me-Mo/core-team

fix: Resolve Sentry errors for insight validation, notifications, WebSocket, and telemetry
  backend/config.py
  backend/observability/telemetry.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/action_handler.py
  backend/services/intelligence/question_handler.py
  backend/services/notifications/ticket_notification_service.py
Owners: @Tell-Me-Mo/backend-team

fix: Resolve Sentry errors for insight validation, notifications, WebSocket, and telemetry (#185)
  CLAUDE.md
  backend/config.py
  backend/observability/telemetry.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/action_handler.py
  backend/services/intelligence/question_handler.py
  backend/services/notifications/ticket_notification_service.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team
