Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

fix: UI improvements and recording functionality enhancements (#36)
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
  backend/routers/portfolios.py
  backend/routers/programs.py
  backend/routers/projects.py
  backend/routers/unified_summaries.py
  backend/services/intelligence/project_matcher_service.py
  backend/services/transcription/salad_transcription_service.py
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_error_handling.py
  backend/tests/integration/test_observability.py
  backend/tests/integration/test_portfolios.py
  backend/tests/integration/test_programs.py
  backend/tests/integration/test_project_matcher.py
  backend/tests/integration/test_projects.py
  backend/tests/integration/test_security.py
  backend/tests/integration/test_unified_summaries.py
  docs/css/style.css
  docs/index.html
  lib/core/network/api_client.dart
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
  lib/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog.dart
  lib/features/hierarchy/presentation/widgets/hierarchy_item_tile.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/project_blockers_widget.dart
  lib/features/projects/presentation/widgets/project_risks_widget.dart
  lib/features/projects/presentation/widgets/project_tasks_widget.dart
  lib/features/summaries/presentation/screens/summary_detail_screen.dart
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart
  test/core/network/api_client_test.dart
  test/features/audio_recording/presentation/widgets/recording_button_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: UI improvements and recording functionality enhancements (#36)
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
  backend/routers/portfolios.py
  backend/routers/programs.py
  backend/routers/projects.py
  backend/routers/unified_summaries.py
  backend/services/intelligence/project_matcher_service.py
  backend/services/transcription/salad_transcription_service.py
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_error_handling.py
  backend/tests/integration/test_observability.py
  backend/tests/integration/test_portfolios.py
  backend/tests/integration/test_programs.py
  backend/tests/integration/test_project_matcher.py
  backend/tests/integration/test_projects.py
  backend/tests/integration/test_security.py
  backend/tests/integration/test_unified_summaries.py
  docs/css/style.css
  docs/index.html
  lib/core/network/api_client.dart
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
  lib/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog.dart
  lib/features/hierarchy/presentation/widgets/hierarchy_item_tile.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/project_blockers_widget.dart
  lib/features/projects/presentation/widgets/project_risks_widget.dart
  lib/features/projects/presentation/widgets/project_tasks_widget.dart
  lib/features/summaries/presentation/screens/summary_detail_screen.dart
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart
  test/core/network/api_client_test.dart
  test/features/audio_recording/presentation/widgets/recording_button_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: expose Logstash HTTP port 8080 for Python application logging
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

fix: expose Logstash HTTP port 8080 for Python application logging (#37)
  .env.example
  backend/config.py
  backend/utils/logstash_handler.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: expose Logstash HTTP port 8080 for Python application logging (#37)
  .env.example
  backend/config.py
  backend/utils/logstash_handler.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: optimize mobile UI by hiding redundant controls
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/executive_summary_viewer.dart
  lib/features/summaries/presentation/widgets/stakeholder_summary_viewer.dart
  lib/features/summaries/presentation/widgets/technical_summary_viewer.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
Owners: @Tell-Me-Mo/frontend-team

fix: resolve overflow in integrations cards on mobile view
  lib/features/integrations/presentation/widgets/integration_card.dart
Owners: @Tell-Me-Mo/frontend-team

fix: reduce excessive spacing in integrations screen mobile view
  lib/features/integrations/presentation/screens/integrations_screen.dart
Owners: @Tell-Me-Mo/frontend-team

fix: align CTA buttons and icons properly in docs mobile view
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

fix: configure nginx MIME types for Flutter WebAssembly deployment
  Dockerfile
Owners: @Tell-Me-Mo/devops-team

fix: remove unnecessary API calls during recording lifecycle
  lib/features/audio_recording/presentation/providers/recording_provider.dart
Owners: @Tell-Me-Mo/frontend-team

fix: resolve 3 failing backend tests in error handling and project matcher
  backend/tests/conftest.py
  backend/tests/integration/test_error_handling.py
Owners: @Tell-Me-Mo/backend-team

fix: optimize organization settings dialog for mobile view
  lib/features/organizations/presentation/widgets/organization_settings_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

fix: resolve upload dialog stuck progress and page refresh issues
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  lib/shared/widgets/upload_content_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

test: add comprehensive mobile layout and AI matching tests
  backend/tests/integration/test_ai_matching.py
  test/features/integrations/presentation/widgets/integration_card_test.dart
  test/features/organizations/presentation/widgets/organization_settings_dialog_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: UI/UX improvements and bug fixes across mobile and desktop (#38)
  Dockerfile
  backend/tests/conftest.py
  backend/tests/integration/test_ai_matching.py
  backend/tests/integration/test_error_handling.py
  docs/css/style.css
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/integrations/presentation/screens/integrations_screen.dart
  lib/features/integrations/presentation/widgets/integration_card.dart
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  lib/features/organizations/presentation/widgets/organization_settings_dialog.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/executive_summary_viewer.dart
  lib/features/summaries/presentation/widgets/stakeholder_summary_viewer.dart
  lib/features/summaries/presentation/widgets/technical_summary_viewer.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/shared/widgets/upload_content_dialog.dart
  test/features/integrations/presentation/widgets/integration_card_test.dart
  test/features/organizations/presentation/widgets/organization_settings_dialog_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: UI/UX improvements and bug fixes across mobile and desktop (#38)
  Dockerfile
  backend/tests/conftest.py
  backend/tests/integration/test_ai_matching.py
  backend/tests/integration/test_error_handling.py
  docs/css/style.css
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/integrations/presentation/screens/integrations_screen.dart
  lib/features/integrations/presentation/widgets/integration_card.dart
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  lib/features/organizations/presentation/widgets/organization_settings_dialog.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/executive_summary_viewer.dart
  lib/features/summaries/presentation/widgets/stakeholder_summary_viewer.dart
  lib/features/summaries/presentation/widgets/technical_summary_viewer.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/shared/widgets/upload_content_dialog.dart
  test/features/integrations/presentation/widgets/integration_card_test.dart
  test/features/organizations/presentation/widgets/organization_settings_dialog_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: improve audio upload handling and error UX
  backend/config.py
  backend/routers/transcription.py
  backend/tests/integration/test_transcription.py
  lib/core/utils/error_utils.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/core/utils/error_utils_test.dart
  test/shared/widgets/record_meeting_dialog_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: resolve layout overflow issues in OrganizationSettingsDialog
  lib/features/organizations/presentation/widgets/organization_settings_dialog.dart
  test/features/organizations/presentation/widgets/organization_settings_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

fix: enable Docker container logs in ELK stack with per-service indices
  docker-compose.prod.yml
  logstash/pipeline/logstash.conf
Owners: @Tell-Me-Mo/core-team

fix: prevent temp file leaks in audio transcription endpoint
  backend/routers/transcription.py
  backend/tests/integration/test_transcription.py
Owners: @Tell-Me-Mo/backend-team

fix: prevent layout overflow in OrganizationSettingsDialog mobile view
  lib/features/organizations/presentation/widgets/organization_settings_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

feat: switch audio recording from WAV to AAC (M4A) and implement S4 multipart upload
  backend/services/transcription/salad_transcription_service.py
  backend/tests/integration/test_transcription.py
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: add 2-hour max recording duration with 90-minute warning
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/meetings/presentation/providers/upload_provider.g.dart
  test/features/audio_recording/domain/services/audio_recording_service_test.dart
  test/features/audio_recording/presentation/providers/recording_state_model_test.dart
Owners: @Tell-Me-Mo/frontend-team

fix: improve auth token refresh, job completion handling, and dashboard UI
  lib/core/network/interceptors.dart
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  test/core/network/interceptors_test.dart
  test/features/content/presentation/providers/processing_jobs_provider_test.dart
  test/features/dashboard/presentation/screens/dashboard_screen_v2_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: add NEW badge for AI-matched projects
  backend/services/core/content_service.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_project_was_created_flag.py
  lib/features/content/presentation/providers/processing_jobs_provider.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: reorder dashboard sections in mobile view
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
Owners: @Tell-Me-Mo/frontend-team

feat: move format badge to title start in mobile summary cards
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
Owners: @Tell-Me-Mo/frontend-team

fix: use neutral color for format badge in mobile summary cards
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
Owners: @Tell-Me-Mo/frontend-team

fix: remove status badges from dashboard project cards
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: improve job cancellation and UI responsiveness
  backend/routers/transcription.py
  backend/routers/websocket_jobs.py
  backend/services/core/upload_job_service.py
  devtools_options.yaml
  lib/features/jobs/domain/services/job_websocket_service.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
  lib/features/summaries/presentation/widgets/executive_summary_viewer.dart
  lib/features/summaries/presentation/widgets/stakeholder_summary_viewer.dart
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart
  lib/features/summaries/presentation/widgets/technical_summary_viewer.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

chore: update generated provider code
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

docs: add Kafka and Redis implementation guides for backend optimization
  docs/kafka.md
  docs/redis.md
Owners: @Tell-Me-Mo/core-team

feat: add Replicate transcription service with official SDK
  .env.example
  backend/config.py
  backend/requirements.txt
  backend/routers/transcription.py
  backend/services/transcription/replicate_transcription_service.py
  backend/tests/integration/test_transcription.py
  backend/tests/unit/test_replicate_service.py
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

perf: conditionally load Whisper model based on transcription service
  backend/main.py
Owners: @Tell-Me-Mo/backend-team

perf: optimize Replicate transcription for speed
  backend/config.py
  backend/middleware/auth_middleware.py
  backend/requirements.txt
  backend/services/auth/auth_service.py
  backend/services/cache/redis_cache_service.py
  backend/services/transcription/replicate_transcription_service.py
  backend/tests/test_redis_cache.py
  docker-compose.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/devops-team

logging fixes
  backend/services/cache/redis_cache_service.py
Owners: @Tell-Me-Mo/backend-team

perf: upgrade Replicate to incredibly-fast-whisper for 242x speedup
  backend/REPLICATE_PERFORMANCE.md
  backend/services/transcription/replicate_transcription_service.py
  backend/tests/unit/test_replicate_service.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

docs: update documentation for Redis Queue migration and Replicate integration
  HLD.md
  docs/documentation.html
  docs/redis.md
  docs/upload-flow-diagram.md
Owners: @Tell-Me-Mo/core-team

test: add FakeRedis fixtures for Redis cache and fix Replicate test mocking
  backend/tests/conftest.py
  backend/tests/unit/test_replicate_service.py
Owners: @Tell-Me-Mo/backend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
