Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

test: Add comprehensive test suite for early chunk duplicate detection
  backend/tests/integration/test_early_chunk_deduplication.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for early chunk duplicate detection
  backend/tests/integration/test_early_chunk_deduplication.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for graceful degradation of Active Intelligence phases
  backend/tests/unit/test_graceful_degradation.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for graceful degradation of Active Intelligence phases
  backend/tests/unit/test_graceful_degradation.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Fix transcript validator test assertions
  backend/tests/test_transcript_validator.py
Owners: @Tell-Me-Mo/backend-team

test: Fix transcript validator test assertions
  backend/tests/test_transcript_validator.py
Owners: @Tell-Me-Mo/backend-team

test: Add comprehensive test suite for user feedback loop functionality
  docs/live_insights_improvements.md
  test/features/live_insights/presentation/widgets/proactive_assistance_card_feedback_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

test: Add comprehensive test suite for user feedback loop functionality
  docs/live_insights_improvements.md
  test/features/live_insights/presentation/widgets/proactive_assistance_card_feedback_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

test: Add comprehensive test suite for LiveInsightsSettings quiet mode and phase toggle
  docs/live_insights_improvements.md
  test/features/live_insights/domain/models/live_insights_settings_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

test: Add comprehensive test suite for LiveInsightsSettings quiet mode and phase toggle
  docs/live_insights_improvements.md
  test/features/live_insights/domain/models/live_insights_settings_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Resolve recording cancellation cleanup and null handling issues
  backend/routers/websocket_live_insights.py
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Resolve recording cancellation cleanup and null handling issues
  backend/routers/websocket_live_insights.py
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Properly release microphone when canceling recording with live insights
  backend/routers/websocket_live_insights.py
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Properly release microphone when canceling recording with live insights
  backend/routers/websocket_live_insights.py
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

refactor: Migrate from record package to flutter_sound for unified audio recording
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

refactor: Migrate from record package to flutter_sound for unified audio recording
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fix: Implement real-time amplitude monitoring for voice indicator animation
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Implement real-time amplitude monitoring for voice indicator animation
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Close recorder session on cancel to fully release microphone (web)
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Close recorder session on cancel to fully release microphone (web)
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Emit raw decibel values for proper voice indicator visualization
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Emit raw decibel values for proper voice indicator visualization
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Correct amplitude normalization formula for compact view voice indicator
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Correct amplitude normalization formula for compact view voice indicator
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Resolve SharedPreferences and LLM client errors in live insights
  backend/services/intelligence/action_item_quality_service.py
  backend/services/intelligence/clarification_service.py
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Resolve SharedPreferences and LLM client errors in live insights
  backend/services/intelligence/action_item_quality_service.py
  backend/services/intelligence/clarification_service.py
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Ensure recording panel closes properly after cancellation
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Ensure recording panel closes properly after cancellation
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Correct amplitude normalization for record package voice indicators
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fix: Correct amplitude normalization for record package voice indicators
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

feat: Add user-configurable insight type filtering for cost optimization
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/prompts/realtime_insights_prompts.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.freezed.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  test/features/live_insights/domain/models/live_insights_settings_test.dart
  test/features/live_insights/integration/live_insights_settings_integration_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Add user-configurable insight type filtering for cost optimization
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/prompts/realtime_insights_prompts.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.freezed.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  test/features/live_insights/domain/models/live_insights_settings_test.dart
  test/features/live_insights/integration/live_insights_settings_integration_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Pause audio streaming when recording is paused to prevent wasteful API calls
  lib/features/audio_recording/presentation/providers/recording_provider.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Pause audio streaming when recording is paused to prevent wasteful API calls
  lib/features/audio_recording/presentation/providers/recording_provider.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Resolve LLM client API errors in question detector and clarification service
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/question_detector.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Resolve LLM client API errors in question detector and clarification service
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/question_detector.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Improve LLM prompt engineering to prevent JSON parsing errors in clarification service
  backend/services/intelligence/clarification_service.py
Owners: @Tell-Me-Mo/backend-team

fix: Improve LLM prompt engineering to prevent JSON parsing errors in clarification service
  backend/services/intelligence/clarification_service.py
Owners: @Tell-Me-Mo/backend-team
