Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

fixes
  TESTING_BACKEND.md
  backend/requirements.txt
  backend/tests/integration/test_security.py
  lib/config.dart
  lib/core/config/api_config.dart
  lib/core/network/api_client.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/organizations/presentation/widgets/invitation_notifications_widget.dart
  lib/features/projects/data/repositories/risks_tasks_repository_impl.dart
  test/features/hierarchy/presentation/widgets/create_program_dialog_test.dart
  test/features/organizations/presentation/screens/member_management_screen_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test fixes
  backend/tests/integration/test_authorization.py
  lib/features/organizations/presentation/screens/organization_settings_screen.dart
  lib/features/organizations/presentation/widgets/csv_bulk_invite_dialog.dart
  lib/features/organizations/presentation/widgets/invite_members_dialog.dart
  test/features/hierarchy/presentation/widgets/edit_portfolio_dialog_test.dart
  test/features/organizations/presentation/screens/member_management_screen_test.dart
  test/features/organizations/presentation/widgets/csv_bulk_invite_dialog_test.dart
  test/features/organizations/presentation/widgets/invitation_notifications_widget_test.dart
  test/features/organizations/presentation/widgets/invite_members_dialog_test.dart
  test/features/projects/data/repositories/lessons_learned_repository_impl_test.dart
  test/features/projects/data/repositories/lessons_learned_repository_impl_test.mocks.dart
  test/helpers/test_helpers.dart
  test/mocks/mock_providers.dart
  tests_back.txt
  tests_front.txt
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fixes
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_blockers.py
  lib/features/organizations/presentation/widgets/csv_bulk_invite_dialog.dart
  lib/features/organizations/presentation/widgets/invite_members_dialog.dart
  lib/features/organizations/presentation/widgets/member_role_dialog.dart
  test/features/organizations/presentation/screens/organization_settings_screen_test.dart
  test/features/organizations/presentation/widgets/invite_members_dialog_test.dart
  test/features/organizations/presentation/widgets/member_role_dialog_test.dart
  test/helpers/test_helpers.dart
  test/mocks/mock_providers.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  test/features/organizations/presentation/screens/organization_settings_screen_test.dart
  test/features/organizations/presentation/widgets/csv_bulk_invite_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  backend/tests/integration/test_error_handling.py
  lib/core/widgets/notifications/notification_center_dialog.dart
  test/core/network/api_client_test.dart
  test/core/widgets/breadcrumb_navigation_test.dart
  test/core/widgets/dialogs/enhanced_confirmation_dialog_test.dart
  test/core/widgets/notifications/notification_center_dialog_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  backend/tests/integration/test_error_handling.py
  test/core/network/api_client_test.dart
  test/core/widgets/notifications/notification_center_dialog_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  backend/middleware/auth_middleware.py
  backend/routers/invitations.py
  test/core/widgets/notifications/notification_center_dialog_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  backend/tests/integration/test_jobs.py
  lib/core/services/notification_service.dart
  test/core/widgets/notifications/notification_center_dialog_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  backend/services/observability/langfuse_service.py
  backend/utils/rate_limit.py
  test/features/organizations/presentation/widgets/pending_invitations_list_test.dart
  test/shared/widgets/organization_switcher_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  backend/routers/organizations.py
  backend/routers/programs.py
  backend/tests/integration/test_organizations.py
  backend/tests/integration/test_portfolios.py
  backend/tests/integration/test_programs.py
  backend/tests/integration/test_projects.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/routers/risks_tasks.py
  backend/routers/scheduler.py
  backend/services/scheduling/scheduler_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_risks.py
  backend/tests/integration/test_transcription.py
Owners: @Tell-Me-Mo/backend-team

fixes
  test/features/projects/data/repositories/lessons_learned_repository_impl_test.dart
  test/features/summaries/data/services/content_availability_service_test.dart
Owners: @Tell-Me-Mo/frontend-team

remove tests - tests/integration/test_transcription.py
  backend/tests/integration/test_transcription.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/main.py
  backend/routers/scheduler.py
  backend/services/scheduling/scheduler_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_oauth_auth.py
  backend/tests/integration/test_rag_pipeline.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/tests/integration/test_rag_pipeline.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/tests/conftest.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/main.py
  backend/routers/auth.py
  backend/routers/native_auth.py
  backend/routers/queries.py
  backend/utils/rate_limit.py
Owners: @Tell-Me-Mo/backend-team

Remove rate limitig
  backend/main.py
  backend/requirements.txt
  backend/routers/auth.py
  backend/routers/native_auth.py
  backend/routers/queries.py
  backend/tests/integration/test_security.py
  backend/utils/rate_limit.py
Owners: @Tell-Me-Mo/backend-team

Add tests workflows
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
Owners: @Tell-Me-Mo/devops-team

change frontend version
  .github/workflows/frontend-tests.yml
Owners: @Tell-Me-Mo/devops-team

fixes
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
Owners: @Tell-Me-Mo/devops-team

Fixes
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
  backend/tests/conftest.py
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

fixes
  .github/workflows/backend-tests.yml
  .github/workflows/codeql.yml
  backend/requirements-dev.txt
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

security fixes
  backend/routers/hierarchy_summaries.py
  backend/routers/scheduler.py
  backend/routers/transcription.py
  backend/services/activity/activity_service.py
  backend/services/core/upload_job_service.py
  backend/services/hierarchy/project_service.py
  backend/services/scheduling/scheduler_service.py
  backend/utils/logger.py
Owners: @Tell-Me-Mo/backend-team

Code quality improvements
  backend/main.py
  backend/routers/jobs.py
  backend/services/activity/activity_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_blockers.py
  backend/tests/integration/test_content.py
  backend/tests/integration/test_error_handling.py
  backend/tests/integration/test_hierarchy_summaries.py
  backend/tests/integration/test_integrations.py
Owners: @Tell-Me-Mo/backend-team

Add gdrant
  .github/workflows/backend-tests.yml
Owners: @Tell-Me-Mo/devops-team

Fix gdrant
  .github/workflows/backend-tests.yml
Owners: @Tell-Me-Mo/devops-team

Cleanup
  AUTH_TESTS_COMPLETE.md
  AUTH_TESTS_SUMMARY.md
  TESTING_BACKEND.md
  TEST_RESULTS.md
  backend/tests/TESTING_BACKEND.md
  docs/sample_meeting_transcript.txt
  docs/sample_meeting_transcript_2.txt
  docs/sample_meeting_transcript_3.txt
  docs/sample_meeting_transcript_4.txt
  docs/sample_meeting_transcript_5.txt
  test/TESTING_FRONTEND.md
  tests_back.txt
  tests_front.txt
Owners: @Tell-Me-Mo/core-team

security fixes
  backend/db/multi_tenant_vector_store.py
  backend/requirements.txt
  backend/routers/content.py
  backend/routers/content_availability.py
  backend/routers/conversations.py
  backend/routers/integrations.py
  backend/routers/jobs.py
  backend/routers/lessons_learned.py
  backend/routers/organizations.py
  backend/routers/queries.py
  backend/routers/support_tickets.py
  backend/routers/transcription.py
  backend/routers/unified_summaries.py
  backend/routers/websocket_jobs.py
  backend/services/activity/activity_service.py
  backend/services/auth/native_auth_service.py
  backend/services/core/upload_job_service.py
  backend/services/hierarchy/hierarchy_service.py
  backend/services/hierarchy/project_service.py
  backend/services/integrations/email_service.py
  backend/services/rag/conversation_context_service.py
  backend/services/rag/enhanced_rag_service_refactored.py
  backend/services/rag/hybrid_search.py
  backend/services/rag/multi_query_retrieval.py
  backend/services/scheduling/scheduler_service.py
  backend/services/summaries/summary_service_refactored.py
  backend/services/transcription/fireflies_service.py
  backend/services/transcription/salad_transcription_service.py
  backend/tests/conftest.py
Owners: @Tell-Me-Mo/backend-team

Fixes
  backend/routers/integrations.py
  backend/routers/jobs.py
  backend/routers/support_tickets.py
  backend/routers/transcription.py
  backend/routers/unified_summaries.py
  backend/services/transcription/fireflies_service.py
  backend/services/transcription/salad_transcription_service.py
  lib/shared/widgets/upload_content_dialog.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
  web/index.html
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

Fixes
  backend/routers/integrations.py
  backend/routers/support_tickets.py
  lib/core/network/dio_client.dart
  lib/shared/widgets/upload_content_dialog.dart
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

Fixes
  backend/routers/unified_summaries.py
  backend/tests/conftest.py
  test/core/network/interceptors_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fix salap API
  backend/services/transcription/salad_transcription_service.py
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fix audio processing
  backend/routers/unified_summaries.py
  backend/tests/integration/test_unified_summaries.py
Owners: @Tell-Me-Mo/backend-team

fix workflows
  .github/workflows/backend-tests.yml
  .github/workflows/frontend-tests.yml
Owners: @Tell-Me-Mo/devops-team

Fix recording
  backend/services/intelligence/project_matcher_service.py
  backend/tests/integration/test_project_matcher.py
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  test/features/audio_recording/presentation/widgets/recording_button_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fixes with progress display
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/jobs/presentation/widgets/upload_progress_indicator.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  backend/routers/portfolios.py
  backend/routers/programs.py
  backend/routers/projects.py
  backend/tests/integration/test_portfolios.py
  backend/tests/integration/test_programs.py
  backend/tests/integration/test_projects.py
  docs/css/style.css
  docs/index.html
  lib/core/network/api_client.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
  lib/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog.dart
  lib/features/hierarchy/presentation/widgets/hierarchy_item_tile.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  docs/css/style.css
  docs/index.html
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/features/projects/presentation/widgets/project_blockers_widget.dart
  lib/features/projects/presentation/widgets/project_risks_widget.dart
  lib/features/projects/presentation/widgets/project_tasks_widget.dart
  lib/features/summaries/presentation/screens/summary_detail_screen.dart
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Address test failures and security issues from trailing slash changes
  backend/routers/unified_summaries.py
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_error_handling.py
  backend/tests/integration/test_observability.py
  backend/tests/integration/test_programs.py
  backend/tests/integration/test_project_matcher.py
  backend/tests/integration/test_projects.py
  backend/tests/integration/test_security.py
  lib/features/audio_recording/presentation/widgets/recording_button.dart
  test/core/network/api_client_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team
