Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

commit changes
  backend/services/intelligence/clarification_service.py
  docs/LIVE_INSIGHTS_TEST_ANALYSIS.md
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

commit changes
  backend/services/intelligence/clarification_service.py
  docs/LIVE_INSIGHTS_TEST_ANALYSIS.md
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fixes
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/realtime_meeting_insights.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/realtime_meeting_insights.py
Owners: @Tell-Me-Mo/backend-team

Fixes
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/question_answering_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/repetition_detector_service.py
  backend/tests/integration/test_proactive_features_validation.py
  docs/LIVE_INSIGHTS_VALIDATION_REPORT.md
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  backend/services/intelligence/clarification_service.py
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/question_answering_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/repetition_detector_service.py
  backend/tests/integration/test_proactive_features_validation.py
  docs/LIVE_INSIGHTS_VALIDATION_REPORT.md
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fixes
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: Remove Phase 6 (Meeting Efficiency Features) and fix tests
  backend/services/intelligence/meeting_time_tracker_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/repetition_detector_service.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  test/features/live_insights/domain/models/live_insights_settings_test.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
  test/features/live_insights/unit/confidence_display_mode_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

refactor: Remove Phase 6 (Meeting Efficiency Features) and fix tests
  backend/services/intelligence/meeting_time_tracker_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/repetition_detector_service.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.g.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  test/features/live_insights/domain/models/live_insights_settings_test.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
  test/features/live_insights/unit/confidence_display_mode_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

refactor: Reduce insight types and make proactive assistance phases independent
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/prompts/realtime_insights_prompts.py
  backend/tests/integration/test_follow_up_suggestions.py
  backend/tests/integration/test_live_insights_websocket.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.freezed.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
  lib/features/live_insights/presentation/widgets/insights_filter_dialog.dart
  test/features/live_insights/domain/models/live_insights_settings_test.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
  test/features/live_insights/integration/live_insights_settings_integration_test.dart
  test/features/live_insights/integration/live_insights_simple_test.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
  test/features/live_insights/presentation/widgets/action_item_quality_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

refactor: Reduce insight types and make proactive assistance phases independent
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/prompts/realtime_insights_prompts.py
  backend/tests/integration/test_follow_up_suggestions.py
  backend/tests/integration/test_live_insights_websocket.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.freezed.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
  lib/features/live_insights/presentation/widgets/insights_filter_dialog.dart
  test/features/live_insights/domain/models/live_insights_settings_test.dart
  test/features/live_insights/integration/live_insights_integration_test.dart
  test/features/live_insights/integration/live_insights_settings_integration_test.dart
  test/features/live_insights/integration/live_insights_simple_test.dart
  test/features/live_insights/integration/proactive_assistance_integration_test.dart
  test/features/live_insights/presentation/widgets/action_item_quality_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fixes
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

fixes
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Remove obsolete RELATED_DISCUSSION insight type and cleanup tests
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_meeting_efficiency.py
Owners: @Tell-Me-Mo/backend-team

fix: Remove obsolete RELATED_DISCUSSION insight type and cleanup tests
  backend/services/intelligence/realtime_meeting_insights.py
  backend/tests/integration/test_meeting_efficiency.py
Owners: @Tell-Me-Mo/backend-team

fixes
  backend/services/intelligence/clarification_service.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/presentation/screens/historical_insights_screen.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/live_insights/presentation/widgets/timeline_insight_badge.dart
  lib/features/live_insights/presentation/widgets/timeline_proactive_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  lib/features/meetings/presentation/widgets/live_insights_timeline_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fixes
  backend/services/intelligence/clarification_service.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/presentation/screens/historical_insights_screen.dart
  lib/features/live_insights/presentation/widgets/insight_card.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/live_insights/presentation/widgets/timeline_insight_badge.dart
  lib/features/live_insights/presentation/widgets/timeline_proactive_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  lib/features/meetings/presentation/widgets/live_insights_timeline_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Implement two-path processing architecture for live insights
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/topic_coherence_detector.py
  docs/process_insight_proactive_hld.md
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Implement two-path processing architecture for live insights
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/topic_coherence_detector.py
  docs/process_insight_proactive_hld.md
  lib/features/audio_recording/domain/services/audio_streaming_service.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Replace recording dialog with right-side panel
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/shared/widgets/record_meeting_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Improve dropdown styling and remove visual overlay in recording panel
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

feat: UI/UX improvements for mobile and recording panel (#92)
  lib/app/router/app_router.dart
  lib/app/router/routes.dart
  lib/core/services/firebase_analytics_service.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/auth/presentation/screens/auth_loading_screen.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/landing/presentation/screens/landing_screen.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/item_detail_panel.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/app/router/routes_test.dart
  test/shared/widgets/record_meeting_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: UI/UX improvements for mobile and recording panel (#92)
  lib/app/router/app_router.dart
  lib/app/router/routes.dart
  lib/core/services/firebase_analytics_service.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/auth/presentation/screens/auth_loading_screen.dart
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
  lib/features/landing/presentation/screens/landing_screen.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
  lib/shared/widgets/item_detail_panel.dart
  lib/shared/widgets/record_meeting_dialog.dart
  test/app/router/routes_test.dart
  test/shared/widgets/record_meeting_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: add comprehensive proactive meeting assistance architecture and tasks
  .claude/commands/tasks_generation_from_prd.md
  .claude/commands/work_on_tasks.md
  TASKS-MEETINGS-ASSISTNACE.md
  docs/PROACTIVE_MEETING_ASSISTANCE_HLD.md
Owners: @Tell-Me-Mo/core-team

additional tasks
  TASKS-MEETINGS-ASSISTNACE.md
  docs/PROACTIVE_MEETING_ASSISTANCE_HLD.md
Owners: @Tell-Me-Mo/core-team

chore: fix HLD path reference and create task changelog
  .claude/commands/work_on_tasks.md
  CHANGELOG-TASKS.md
Owners: @Tell-Me-Mo/core-team

feat: Create live_meeting_insights table for real-time meeting intelligence
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/alembic/versions/f11cd7beb6f5_add_live_meeting_insights_table.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Create Live Insights SQLAlchemy Model - Task 1.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/models/live_insight.py
  backend/models/organization.py
  backend/models/project.py
  backend/models/recording.py
  backend/tests/unit/test_live_insight_model.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Rename metadata to insight_metadata to avoid SQLAlchemy reserved name
  backend/models/live_insight.py
  backend/tests/unit/test_live_insight_model.py
Owners: @Tell-Me-Mo/backend-team

feat: Implement Transcription Buffer Manager - Task 2.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/config.py
  backend/services/transcription/transcription_buffer_service.py
  backend/tests/unit/test_transcription_buffer_service.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement GPT-5-mini Streaming Interface - Task 2.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/llm/gpt5_streaming.py
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_gpt5_streaming.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Stream Router for GPT-5-mini NDJSON Object Routing - Task 2.3
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/stream_router.py
  backend/tests/unit/test_stream_router.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Question Handler Service - Task 2.4
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/question_handler.py
  backend/tests/unit/test_question_handler.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Action Handler Service - Task 2.5
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/action_handler.py
  backend/tests/unit/test_action_handler.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Answer Handler Service - Task 2.6
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/answer_handler.py
  backend/tests/unit/test_answer_handler.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Correct test assertion for exact confidence threshold
  backend/tests/unit/test_answer_handler.py
Owners: @Tell-Me-Mo/backend-team

feat: Create Live Insights WebSocket Router - Task 4.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/main.py
  backend/routers/websocket_live_insights.py
  backend/tests/routers/test_websocket_live_insights.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Correct import path for database module and add ws_token fixture
  backend/routers/websocket_live_insights.py
  backend/tests/conftest.py
Owners: @Tell-Me-Mo/backend-team

feat: Create Streaming Intelligence Orchestrator - Task 7.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/streaming_orchestrator.py
  backend/tests/services/intelligence/test_streaming_orchestrator.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
