Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

docs: add Feature Branch Model workflow commands (#31)
  .claude/commands/cleanup-feature.md
  .claude/commands/finish-feature.md
  .claude/commands/start-feature.md
Owners: @Tell-Me-Mo/core-team

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Owners: @Tell-Me-Mo/devops-team

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Owners: @Tell-Me-Mo/devops-team

Add Claude Code GitHub Workflow (#32)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Owners: @Tell-Me-Mo/devops-team

Add Claude Code GitHub Workflow (#32)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Owners: @Tell-Me-Mo/devops-team

fix: address security vulnerabilities and ReDoS attacks
  backend/requirements.txt
  backend/routers/organizations.py
  backend/services/rag/chunking_service.py
  backend/services/rag/conversation_context_service.py
  backend/utils/text_similarity.py
Owners: @Tell-Me-Mo/backend-team

fix: address security vulnerabilities and ReDoS attacks (#33)
  backend/requirements.txt
  backend/routers/organizations.py
  backend/services/rag/chunking_service.py
  backend/services/rag/conversation_context_service.py
  backend/utils/text_similarity.py
Owners: @Tell-Me-Mo/backend-team

fix: address security vulnerabilities and ReDoS attacks (#33)
  backend/requirements.txt
  backend/routers/organizations.py
  backend/services/rag/chunking_service.py
  backend/services/rag/conversation_context_service.py
  backend/utils/text_similarity.py
Owners: @Tell-Me-Mo/backend-team

delete old tests
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_activities.py
  backend/tests/test_activity_feed.py
  backend/tests/test_api_content.py
  backend/tests/test_api_error_handling.py
  backend/tests/test_api_health.py
  backend/tests/test_api_projects.py
  backend/tests/test_api_queries.py
  backend/tests/test_api_scheduler.py
  backend/tests/test_api_summaries.py
  backend/tests/test_blocker_implementation.py
  backend/tests/test_blocker_sync.py
  backend/tests/test_complete_user_flow.py
  backend/tests/test_duplicate_project.py
  backend/tests/test_email_service.py
  backend/tests/test_embeddinggemma_full.py
  backend/tests/test_enhanced_rag_services.py
  backend/tests/test_enhanced_summary.py
  backend/tests/test_fireflies_integration.py
  backend/tests/test_langfuse.py
  backend/tests/test_llm_client_refactoring.py
  backend/tests/test_native_auth.py
  backend/tests/test_project_description_service.py
  backend/tests/test_refactored_architecture.py
  backend/tests/test_salad_api.py
  backend/tests/test_supabase_auth.py
  backend/tests/test_upload.py
  backend/tests/test_weekly_summary_job.py
  test/widget_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Native Authentication
  .gitignore
  AUTH_TESTS_COMPLETE.md
  AUTH_TESTS_SUMMARY.md
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  TEST_RESULTS.md
  backend/tests/README.md
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/integration/__init__.py
  backend/tests/integration/test_native_auth.py
  pubspec.lock
  pubspec.yaml
  test/helpers/test_helpers.dart
  test/mocks/generate_mocks.dart
  test/mocks/generate_mocks.mocks.dart
  test/mocks/mock_auth.dart
  test/widget/screens/auth/auth_loading_screen_test.dart
  test/widget/screens/auth/forgot_password_screen_test.dart
  test/widget/screens/auth/password_reset_screen_test.dart
  test/widget/screens/auth/signin_screen_test.dart
  test/widget/screens/auth/signup_screen_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

1.2 OAuth Authentication
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/integration/test_oauth_auth.py
  test/features/organizations/presentation/screens/organization_wizard_screen_test.dart
  test/features/organizations/presentation/widgets/invite_members_dialog_test.dart
  test/mocks/mock_organization_providers.dart
  test/mocks/organization_test_fixtures.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

tests Organization Management
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/conftest.py
  backend/tests/integration/test_authorization.py
  backend/tests/integration/test_organizations.py
  test/features/organizations/presentation/screens/member_management_screen_test.dart
  test/features/organizations/presentation/screens/organization_settings_screen_test.dart
  test/features/organizations/presentation/widgets/csv_bulk_invite_dialog_test.dart
  test/features/organizations/presentation/widgets/invitation_notifications_widget_test.dart
  test/features/organizations/presentation/widgets/member_role_dialog_test.dart
  test/features/organizations/presentation/widgets/pending_invitations_list_test.dart
  test/mocks/mock_providers.dart
  test/shared/widgets/organization_switcher_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Invitations
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/models/organization_member.py
  backend/routers/organizations.py
  backend/tests/conftest.py
  backend/tests/integration/test_invitations.py
  lib/features/organizations/presentation/providers/invitation_notifications_provider.dart
  test/features/organizations/presentation/providers/invitation_notifications_provider_test.dart
  test/features/organizations/presentation/providers/members_provider_test.dart
  test/features/organizations/presentation/providers/organization_provider_test.dart
  test/features/organizations/presentation/providers/organization_settings_provider_test.dart
  test/mocks/generate_mocks.dart
  test/mocks/generate_mocks.mocks.dart
  test/mocks/mock_auth_providers.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Project CRUD
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/main.py
  backend/routers/projects.py
  backend/services/hierarchy/project_service.py
  backend/tests/integration/test_projects.py
  lib/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog.dart
  test/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog_test.dart
  test/features/projects/presentation/screens/content_processing_dialog_test.dart
  test/features/projects/presentation/screens/simplified_project_details_screen_test.dart
  test/features/projects/presentation/widgets/edit_project_dialog_test.dart
  test/mocks/mock_providers.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Testing
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/integration/test_projects.py
  lib/features/organizations/presentation/widgets/pending_invitations_list.dart
  lib/features/projects/domain/entities/project_member.dart
  lib/shared/widgets/organization_switcher.dart
  test/features/organizations/presentation/widgets/pending_invitations_list_test.dart
  test/features/projects/data/models/lesson_learned_model_test.dart
  test/features/projects/data/models/project_model_test.dart
  test/features/projects/data/models/risk_model_test.dart
  test/features/projects/data/repositories/lessons_learned_repository_impl_test.dart
  test/features/projects/data/repositories/lessons_learned_repository_impl_test.mocks.dart
  test/features/projects/domain/entities/project_member_test.dart
  test/shared/widgets/organization_switcher_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Testing
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/portfolios.py
  backend/tests/integration/test_portfolios.py
  lib/features/hierarchy/presentation/widgets/create_program_dialog.dart
  lib/features/hierarchy/presentation/widgets/edit_portfolio_dialog.dart
  lib/features/hierarchy/presentation/widgets/edit_program_dialog.dart
  test/features/hierarchy/presentation/widgets/create_program_dialog_test.dart
  test/features/hierarchy/presentation/widgets/edit_program_dialog_test.dart
  test/mocks/mock_providers.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Program Management
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/integration/test_programs.py
  test/features/hierarchy/presentation/screens/hierarchy_screen_test.dart
  test/features/hierarchy/presentation/screens/portfolio_detail_screen_test.dart
  test/features/hierarchy/presentation/screens/program_detail_screen_test.dart
  test/features/hierarchy/presentation/widgets/edit_portfolio_dialog_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

4.3 Hierarchy Operations
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/hierarchy.py
  backend/services/hierarchy/hierarchy_service.py
  backend/tests/integration/test_hierarchy.py
  lib/features/hierarchy/presentation/widgets/enhanced_search_bar.dart
  lib/features/hierarchy/presentation/widgets/hierarchy_search_bar.dart
  test/features/hierarchy/helpers/hierarchy_test_fixtures.dart
  test/features/hierarchy/widgets/enhanced_search_bar_test.dart
  test/features/hierarchy/widgets/hierarchy_action_bar_test.dart
  test/features/hierarchy/widgets/hierarchy_breadcrumb_test.dart
  test/features/hierarchy/widgets/hierarchy_item_tile_test.dart
  test/features/hierarchy/widgets/hierarchy_search_bar_test.dart
  test/features/hierarchy/widgets/hierarchy_statistics_card_test.dart
  test/features/hierarchy/widgets/hierarchy_tree_view_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Content Management
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/content.py
  backend/tests/integration/test_content.py
  test/features/hierarchy/data/models/hierarchy_node_model_test.dart
  test/features/hierarchy/data/models/portfolio_model_test.dart
  test/features/hierarchy/data/models/program_model_test.dart
  test/features/hierarchy/presentation/providers/favorites_provider_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Content Availability (content_availability.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/content_availability.py
  backend/services/core/content_availability_service.py
  backend/tests/integration/test_content_availability.py
  sample_meeting_transcript.txt
  sample_meeting_transcript_2.txt
  sample_meeting_transcript_3.txt
  sample_meeting_transcript_4.txt
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

6.1 Query Endpoints (queries.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/models/conversation.py
  backend/models/project.py
  backend/routers/queries.py
  backend/tests/integration/test_queries.py
  sample_meeting_transcript_5.txt
  test/features/content/data/models/content_status_model_test.dart
  test/features/content/presentation/widgets/processing_skeleton_loader_test.dart
  test/features/documents/presentation/widgets/document_skeleton_loader_test.dart
  test/features/documents/presentation/widgets/empty_documents_widget_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

7.1 Summary Screens (features/summaries/)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/db/multi_tenant_vector_store.py
  backend/tests/integration/test_rag_pipeline.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

Unified Summaries (unified_summaries.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/unified_summaries.py
  backend/tests/integration/test_unified_summaries.py
  test/features/summaries/widgets/content_availability_indicator_test.dart
  test/features/summaries/widgets/enhanced_action_items_widget_test.dart
  test/features/summaries/widgets/summary_card_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Hierarchy Summaries (hierarchy_summaries.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/hierarchy_summaries.py
  backend/tests/integration/test_hierarchy_summaries.py
  lib/features/queries/presentation/widgets/query_input_field.dart
  test/features/queries/presentation/widgets/query_history_list_test.dart
  test/features/queries/presentation/widgets/query_input_field_test.dart
  test/features/queries/presentation/widgets/query_response_card_test.dart
  test/features/queries/presentation/widgets/typing_indicator_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

8.1 Risks Management (risks_tasks.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/risks_tasks.py
  backend/tests/integration/test_risks.py
  test/features/queries/presentation/providers/query_provider_test.dart
  test/features/queries/presentation/widgets/query_suggestions_test.dart
  test/mocks/mock_api_client.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

8.2 Tasks Management (risks_tasks.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/risks_tasks.py
  backend/tests/integration/test_tasks.py
  test/features/risks/presentation/widgets/risk_export_dialog_test.dart
  test/features/risks/presentation/widgets/risk_kanban_card_test.dart
  test/features/risks/presentation/widgets/risk_list_tile_compact_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

8.3 Blockers Management (risks_tasks.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/integration/test_blockers.py
  lib/features/tasks/presentation/widgets/create_task_dialog.dart
  test/features/tasks/presentation/widgets/create_task_dialog_test.dart
  test/mocks/mock_tasks_providers.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

9.1 Lessons Learned CRUD (lessons_learned.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/lessons_learned.py
  backend/tests/integration/test_lessons_learned.py
  test/features/lessons_learned/presentation/screens/lessons_learned_screen_v2_test.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_compact_test.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_test.dart
  test/mocks/lesson_learned_test_fixtures.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

10.1 Job Management (jobs.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/jobs.py
  backend/tests/integration/test_jobs.py
  backend/tests/integration/test_websocket_jobs.py
  backend/tests/websocket_test_utils.py
  test/features/integrations/domain/models/integration_test.dart
  test/features/integrations/presentation/widgets/integration_card_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

10.2 Scheduler (scheduler.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/scheduler.py
  backend/tests/integration/test_scheduler.py
  lib/core/widgets/notifications/notification_center_dialog.dart
  test/core/widgets/notifications/notification_center_dialog_test.dart
  test/core/widgets/notifications/notification_center_dialog_test.dart.bak
  test/core/widgets/notifications/notification_center_test.dart
  test/core/widgets/notifications/notification_overlay_test.dart
  test/core/widgets/notifications/notification_toast_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Integration Management (integrations.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/integrations.py
  backend/tests/integration/test_integrations.py
  lib/features/activities/presentation/widgets/activity_timeline.dart
  test/features/activities/data/models/activity_model_test.dart
  test/features/activities/domain/entities/activity_test.dart
  test/features/activities/presentation/widgets/activity_feed_card_test.dart
  test/features/activities/presentation/widgets/activity_timeline_test.dart
  test/features/profile/domain/entities/user_profile_test.dart
  test/features/profile/presentation/screens/change_password_screen_test.dart
  test/features/profile/presentation/widgets/user_avatar_test.dart
  test/features/support_tickets/models/support_ticket_test.dart
  test/features/support_tickets/presentation/widgets/support_button_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Remove unused WebSocket audio streaming dead code
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/main.py
  backend/routers/websocket_audio.py
  backend/services/transcription/audio_buffer_service.py
  backend/tests/integration/test_transcription.py
  test/core/widgets/breadcrumb_navigation_test.dart
  test/core/widgets/dialogs/enhanced_confirmation_dialog_test.dart
  test/core/widgets/loading/progress_indicator_dialog_test.dart
  test/core/widgets/loading/skeleton_loader_test.dart
  test/features/audio_recording/presentation/providers/recording_state_model_test.dart
  test/features/audio_recording/presentation/widgets/recording_button_test.dart
  test/features/audio_recording/presentation/widgets/transcription_display_test.dart
  test/shared/widgets/layout/adaptive_scaffold_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Fix critical multi-tenant isolation bug in transcription endpoint
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/transcription.py
  backend/tests/integration/test_transcription.py
  test/shared/widgets/layout/adaptive_scaffold_test.dart
  test/shared/widgets/layout/responsive_layout_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

12.1 Notifications (notifications.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/notifications.py
  backend/tests/integration/test_notifications.py
  test/features/content/presentation/providers/new_items_provider_test.dart
  test/features/integrations/presentation/providers/fireflies_provider_test.dart
  test/features/support_tickets/providers/support_ticket_provider_test.dart
  test/features/support_tickets/providers/support_ticket_provider_test.mocks.dart
  test/features/tasks/presentation/providers/grouped_tasks_provider_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

12.2 Activity Feed (activities.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/services/activity/activity_service.py
  backend/tests/integration/test_activities.py
  lib/core/network/api_client.dart
  lib/core/network/api_service.dart
  lib/core/network/interceptors.dart
  lib/core/network/organization_interceptor.dart
  lib/core/storage/secure_storage_factory.dart
  test/core/network/api_client_test.dart
  test/core/network/api_client_test.mocks.dart
  test/core/network/interceptors_test.dart
  test/core/network/interceptors_test.mocks.dart
  test/core/network/network_info_test.dart
  test/core/network/organization_interceptor_test.dart
  test/core/network/organization_interceptor_test.mocks.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

13.1 Ticket Management (support_tickets.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/integration/test_support_tickets.py
  backend/tests/integration/test_websocket_tickets.py
  lib/features/integrations/data/services/integrations_service.dart
  lib/features/integrations/presentation/providers/integrations_provider.dart
  lib/features/summaries/data/services/content_availability_service.dart
  test/features/integrations/data/services/integrations_service_test.dart
  test/features/integrations/data/services/integrations_service_test.mocks.dart
  test/features/summaries/data/services/content_availability_service_test.dart
  test/features/summaries/data/services/content_availability_service_test.mocks.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

14.1 Conversation Management (conversations.py)
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/conversations.py
  backend/tests/integration/test_conversations.py
  test/core/errors/exceptions_test.dart
  test/core/errors/failures_test.dart
  test/core/models/api_response_test.dart
  test/core/models/notification_model_test.dart
  test/features/organizations/data/models/organization_member_test.dart
  test/features/organizations/data/models/organization_model_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Error Handling
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/routers/portfolios.py
  backend/routers/programs.py
  backend/routers/projects.py
  backend/routers/risks_tasks.py
  backend/tests/integration/test_error_handling.py
  lib/core/constants/validation_constants.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.g.dart
  test/app/theme/app_theme_test.dart
  test/app/theme/color_schemes_test.dart
  test/app/theme/text_themes_test.dart
  test/core/constants/breakpoints_test.dart
  test/core/constants/layout_constants_test.dart
  test/core/constants/ui_constants_test.dart
  test/core/constants/validation_constants_test.dart
  test/core/utils/responsive_utils_test.dart
  test/core/utils/screen_info_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

tests
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/tests/integration/test_observability.py
  test/core/utils/animation_utils_test.dart
  test/core/utils/datetime_utils_test.dart
  test/core/utils/logger_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

16.3 Security
  TESTING_BACKEND.md
  TESTING_FRONTEND.md
  backend/main.py
  backend/routers/native_auth.py
  backend/routers/queries.py
  backend/tests/conftest.py
  backend/tests/integration/test_security.py
  backend/utils/rate_limit.py
  test/app/router/app_router_test.dart
  test/app/router/error_screen_test.dart
  test/app/router/routes_test.dart
  test/core/extensions/notification_extensions_test.dart
  test/performance/performance_optimization_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
