Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

Improvements
  backend/routers/transcription.py
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/css/article.css
  docs/css/blog.css
  docs/js/blog.js
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/jobs/domain/services/job_websocket_service.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Improvements
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  docs/sitemap.xml
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Improvements
  docs/sitemap.xml
  lib/features/dashboard/presentation/screens/dashboard_screen_v2.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Improvements
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/presentation/screens/hierarchy_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Fix portfolio creation
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/auth/presentation/providers/auth_provider.g.dart
  lib/features/documents/presentation/providers/documents_provider.g.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.g.dart
  lib/features/hierarchy/presentation/providers/hierarchy_providers.g.dart
  lib/features/integrations/presentation/providers/integrations_provider.g.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.g.dart
  lib/features/meetings/presentation/providers/meetings_provider.g.dart
  lib/features/projects/presentation/providers/projects_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

Fix portfolio creation
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/auth/presentation/providers/auth_provider.g.dart
  lib/features/documents/presentation/providers/documents_provider.g.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.g.dart
  lib/features/hierarchy/presentation/providers/hierarchy_providers.g.dart
  lib/features/integrations/presentation/providers/integrations_provider.g.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.g.dart
  lib/features/meetings/presentation/providers/meetings_provider.g.dart
  lib/features/projects/presentation/providers/projects_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/data/services/hierarchy_api_service.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.g.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/data/services/hierarchy_api_service.dart
  lib/features/hierarchy/data/services/hierarchy_api_service.g.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/hierarchy/presentation/widgets/create_portfolio_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/hierarchy/presentation/widgets/create_portfolio_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/hierarchy/presentation/widgets/enhanced_delete_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/hierarchy/presentation/widgets/enhanced_delete_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
  lib/features/hierarchy/presentation/screens/program_detail_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/hierarchy/presentation/screens/portfolio_detail_screen.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/summaries/presentation/widgets/summary_generation_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/summaries/presentation/widgets/summary_generation_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

imprvements
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/summary_card.dart
Owners: @Tell-Me-Mo/frontend-team

imprvements
  lib/features/summaries/presentation/screens/summaries_screen.dart
  lib/features/summaries/presentation/widgets/summary_card.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/summaries/presentation/widgets/executive_summary_viewer.dart
  lib/features/summaries/presentation/widgets/stakeholder_summary_viewer.dart
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart
  lib/features/summaries/presentation/widgets/technical_summary_viewer.dart
Owners: @Tell-Me-Mo/frontend-team

improvements
  lib/features/summaries/presentation/widgets/executive_summary_viewer.dart
  lib/features/summaries/presentation/widgets/stakeholder_summary_viewer.dart
  lib/features/summaries/presentation/widgets/summary_detail_viewer.dart
  lib/features/summaries/presentation/widgets/technical_summary_viewer.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Improvements
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  lib/main.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  lib/main.dart
Owners: @Tell-Me-Mo/frontend-team

docs: update git workflow to Feature Branch Model
  CONTRIBUTING.md
  README.md
Owners: @Tell-Me-Mo/core-team

docs: update git workflow to Feature Branch Model (#30)
  CONTRIBUTING.md
  README.md
Owners: @Tell-Me-Mo/core-team

docs: update git workflow to Feature Branch Model (#30)
  CONTRIBUTING.md
  README.md
Owners: @Tell-Me-Mo/core-team

docs: add Feature Branch Model workflow commands
  .claude/commands/cleanup-feature.md
  .claude/commands/finish-feature.md
  .claude/commands/start-feature.md
Owners: @Tell-Me-Mo/core-team

docs: add Feature Branch Model workflow commands (#31)
  .claude/commands/cleanup-feature.md
  .claude/commands/finish-feature.md
  .claude/commands/start-feature.md
Owners: @Tell-Me-Mo/core-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
