Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

feat: Add intelligent OpenAI fallback for Claude API overload (529 errors)
  CHANGELOG.md
  HLD.md
  README.md
  backend/config.py
  backend/models/integration.py
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Add intelligent OpenAI fallback for Claude API overload (529 errors)
  CHANGELOG.md
  HLD.md
  README.md
  backend/config.py
  backend/models/integration.py
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

refactor: clean up ProviderCascade fallback logic
  backend/services/llm/multi_llm_client.py
Owners: @Tell-Me-Mo/backend-team

feat: Add circuit breaker pattern for LLM provider resilience
  CHANGELOG.md
  README.md
  backend/config.py
  backend/requirements.txt
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Improve circuit breaker error handling and observability
  backend/models/integration.py
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

fix: Add missing circuit breaker settings to test mock fixture
  backend/tests/unit/test_llm_fallback.py
Owners: @Tell-Me-Mo/backend-team

feat: Intelligent OpenAI fallback for Claude API overload (#69)
  CHANGELOG.md
  HLD.md
  README.md
  backend/config.py
  backend/models/integration.py
  backend/requirements.txt
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_llm_fallback.py
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Intelligent OpenAI fallback for Claude API overload (#69)
  CHANGELOG.md
  HLD.md
  README.md
  backend/config.py
  backend/models/integration.py
  backend/requirements.txt
  backend/services/llm/multi_llm_client.py
  backend/tests/unit/test_llm_fallback.py
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

docs: comprehensive quality evaluation of meeting upload system
  docs/UPLOAD_QUALITY_EVALUATION_2025-10-13.md
Owners: @Tell-Me-Mo/core-team

docs: update evaluation report to reflect Issue #1 already fixed
  docs/UPLOAD_QUALITY_EVALUATION_2025-10-13.md
Owners: @Tell-Me-Mo/core-team

docs: fix incorrect statement about deduplication timing
  docs/UPLOAD_QUALITY_EVALUATION_2025-10-13.md
Owners: @Tell-Me-Mo/core-team

feat: Migrate item dialogs to right panel UI with project selection
  MIGRATION_COMPLETED.md
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/lessons_learned/presentation/widgets/lesson_grouping_view.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_dialog.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_dialog.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_dialog.dart
  lib/features/projects/presentation/widgets/lesson_learned_dialog.dart
  lib/features/projects/presentation/widgets/project_blockers_widget.dart
  lib/features/projects/presentation/widgets/project_lessons_learned_widget.dart
  lib/features/projects/presentation/widgets/project_risks_widget.dart
  lib/features/projects/presentation/widgets/project_tasks_widget.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_view_dialog.dart
  lib/features/projects/presentation/widgets/task_dialog.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/create_task_dialog.dart
  lib/features/tasks/presentation/widgets/task_detail_dialog.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_kanban_card.dart
  lib/features/tasks/presentation/widgets/task_list_tile.dart
  lib/features/tasks/presentation/widgets/task_list_tile_compact.dart
  lib/shared/widgets/item_detail_panel.dart
  lib/shared/widgets/item_updates_tab.dart
  pubspec.lock
  pubspec.yaml
  test/features/tasks/presentation/widgets/create_task_dialog_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

ui: Modernize form field styling across all item detail panels
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Standardize item detail panel styling
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ux: Reduce notification noise for create/update operations
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/risks/presentation/widgets/risk_kanban_board_view.dart
  lib/features/risks/presentation/widgets/risk_kanban_card.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Add AI assistant and refine lesson learned panel layout
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_list_tile.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_compact.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Migrate documents dialog to right panel UI
  lib/features/documents/presentation/screens/documents_screen.dart
  lib/features/documents/presentation/widgets/document_detail_dialog.dart
  lib/features/documents/presentation/widgets/document_detail_panel.dart
  lib/features/documents/presentation/widgets/document_table_view.dart
  lib/features/projects/presentation/screens/simplified_project_details_screen.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Use consistent color for summary status badges
  lib/features/documents/presentation/widgets/document_table_view.dart
Owners: @Tell-Me-Mo/frontend-team

test: Add comprehensive widget tests for detail panels
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  test/features/documents/presentation/widgets/document_detail_panel_test.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel_test.dart
  test/features/projects/presentation/widgets/blocker_detail_panel_test.dart
  test/features/projects/presentation/widgets/risk_detail_panel_test.dart
  test/features/tasks/presentation/widgets/task_detail_panel_test.dart
  test/helpers/test_helpers.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Resolve production assert and memory leak issues
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_compact_test.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_test.dart
  test/features/tasks/presentation/widgets/task_detail_panel_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Automatic update tracking for all item types
  backend/alembic/versions/6d218df43825_add_item_updates_table.py
  backend/models/__init__.py
  backend/models/item_update.py
  backend/routers/lessons_learned.py
  backend/routers/risks_tasks.py
  backend/services/item_updates_service.py
Owners: @Tell-Me-Mo/backend-team

feat: Flutter UI integration for automatic item updates
  lib/app/router/app_router.g.dart
  lib/build/.last_build_id
  lib/config.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/data/models/item_update_model.dart
  lib/features/projects/data/models/item_update_model.freezed.dart
  lib/features/projects/data/models/item_update_model.g.dart
  lib/features/projects/data/repositories/item_updates_repository_impl.dart
  lib/features/projects/domain/entities/item_update.dart
  lib/features/projects/domain/repositories/item_updates_repository.dart
  lib/features/projects/presentation/providers/item_updates_provider.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Item updates display and real-time refresh issues
  backend/alembic/versions/d7d1975698c8_update_itemupdatetype_enum_to_lowercase.py
  backend/routers/lessons_learned.py
  backend/routers/risks_tasks.py
  lib/config.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/data/models/item_update_model.dart
  lib/features/projects/presentation/providers/item_updates_provider.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

ui: Enhance Updates tab with filter and improved send button
  lib/shared/widgets/item_updates_tab.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Improve updates UI consistency and filter appearance
  lib/features/projects/presentation/providers/item_updates_provider.dart
  lib/shared/widgets/item_updates_tab.dart
Owners: @Tell-Me-Mo/frontend-team

test: Add comprehensive tests for item updates functionality
  backend/tests/integration/test_item_updates.py
  test/shared/widgets/item_updates_tab_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

refactor: Convert ItemUpdateType from PostgreSQL enum to VARCHAR
  backend/alembic/versions/convert_itemupdatetype_enum_to_varchar.py
  backend/models/item_update.py
  backend/routers/lessons_learned.py
  backend/routers/risks_tasks.py
Owners: @Tell-Me-Mo/backend-team

fix: Update ItemUpdatesService to use string constants
  backend/services/item_updates_service.py
Owners: @Tell-Me-Mo/backend-team

fix: Improve item creation UX and real-time updates across all item types
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/tasks/presentation/providers/aggregated_tasks_provider.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_updates_tab.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Add Edit and Delete options to task 3-dots menu
  lib/core/widgets/dialogs/enhanced_confirmation_dialog.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_list_tile_compact.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Remove non-functional test_item_updates integration test
  backend/tests/integration/test_item_updates.py
Owners: @Tell-Me-Mo/backend-team

Fix tests
  test/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel_test.dart
  test/features/projects/presentation/widgets/blocker_detail_panel_test.dart
  test/features/projects/presentation/widgets/risk_detail_panel_test.dart
  test/features/tasks/presentation/widgets/task_detail_panel_test.dart
  test/mocks/mock_providers.dart
Owners: @Tell-Me-Mo/frontend-team

fix flutter tests
  test/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel_test.dart
  test/features/projects/presentation/widgets/blocker_detail_panel_test.dart
  test/features/projects/presentation/widgets/risk_detail_panel_test.dart
  test/features/tasks/presentation/widgets/task_detail_panel_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Item updates tracking system with UI enhancements and task menu improvements (#71)
  backend/alembic/versions/6d218df43825_add_item_updates_table.py
  backend/alembic/versions/convert_itemupdatetype_enum_to_varchar.py
  backend/alembic/versions/d7d1975698c8_update_itemupdatetype_enum_to_lowercase.py
  backend/models/__init__.py
  backend/models/item_update.py
  backend/routers/lessons_learned.py
  backend/routers/risks_tasks.py
  backend/services/item_updates_service.py
  lib/app/router/app_router.g.dart
  lib/build/.last_build_id
  lib/core/widgets/dialogs/enhanced_confirmation_dialog.dart
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/data/models/item_update_model.dart
  lib/features/projects/data/models/item_update_model.freezed.dart
  lib/features/projects/data/models/item_update_model.g.dart
  lib/features/projects/data/repositories/item_updates_repository_impl.dart
  lib/features/projects/domain/entities/item_update.dart
  lib/features/projects/domain/repositories/item_updates_repository.dart
  lib/features/projects/presentation/providers/item_updates_provider.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/tasks/presentation/providers/aggregated_tasks_provider.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_list_tile_compact.dart
  lib/shared/widgets/item_updates_tab.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel_test.dart
  test/features/projects/presentation/widgets/blocker_detail_panel_test.dart
  test/features/projects/presentation/widgets/risk_detail_panel_test.dart
  test/features/tasks/presentation/widgets/task_detail_panel_test.dart
  test/mocks/mock_providers.dart
  test/shared/widgets/item_updates_tab_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Item updates tracking system with UI enhancements and task menu improvements (#71)
  backend/alembic/versions/6d218df43825_add_item_updates_table.py
  backend/alembic/versions/convert_itemupdatetype_enum_to_varchar.py
  backend/alembic/versions/d7d1975698c8_update_itemupdatetype_enum_to_lowercase.py
  backend/models/__init__.py
  backend/models/item_update.py
  backend/routers/lessons_learned.py
  backend/routers/risks_tasks.py
  backend/services/item_updates_service.py
  lib/app/router/app_router.g.dart
  lib/build/.last_build_id
  lib/core/widgets/dialogs/enhanced_confirmation_dialog.dart
  lib/features/lessons_learned/presentation/screens/lessons_learned_screen_v2.dart
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/data/models/item_update_model.dart
  lib/features/projects/data/models/item_update_model.freezed.dart
  lib/features/projects/data/models/item_update_model.g.dart
  lib/features/projects/data/repositories/item_updates_repository_impl.dart
  lib/features/projects/domain/entities/item_update.dart
  lib/features/projects/domain/repositories/item_updates_repository.dart
  lib/features/projects/presentation/providers/item_updates_provider.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/risks/presentation/screens/risks_aggregation_screen_v2.dart
  lib/features/tasks/presentation/providers/aggregated_tasks_provider.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_list_tile_compact.dart
  lib/shared/widgets/item_updates_tab.dart
  test/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel_test.dart
  test/features/projects/presentation/widgets/blocker_detail_panel_test.dart
  test/features/projects/presentation/widgets/risk_detail_panel_test.dart
  test/features/tasks/presentation/widgets/task_detail_panel_test.dart
  test/mocks/mock_providers.dart
  test/shared/widgets/item_updates_tab_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Add text truncation with read more/less functionality to right panels
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Add subtle comment count badges to Updates tab in item detail panels
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_detail_panel.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Fix project name truncation across risks, tasks, and lessons views
  lib/features/lessons_learned/presentation/widgets/lesson_learned_list_tile_compact.dart
  lib/features/risks/presentation/widgets/risk_kanban_card.dart
  lib/features/risks/presentation/widgets/risk_list_tile_compact.dart
  lib/features/tasks/presentation/widgets/task_kanban_card.dart
Owners: @Tell-Me-Mo/frontend-team

ui: Enable text selection and copying across all detail panels
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/summaries/presentation/widgets/enhanced_action_items_widget.dart
  lib/features/summaries/presentation/widgets/enhanced_decisions_widget.dart
  lib/features/summaries/presentation/widgets/open_questions_widget.dart
  lib/features/summaries/presentation/widgets/risks_blockers_widget.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
  lib/shared/widgets/item_updates_tab.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Resolve async event loop blocking in hybrid search diversity optimization
  backend/services/rag/hybrid_search.py
  backend/tests/integration/test_rag_pipeline.py
  lib/features/lessons_learned/presentation/widgets/lesson_learned_detail_panel.dart
  lib/features/projects/presentation/widgets/blocker_detail_panel.dart
  lib/features/projects/presentation/widgets/risk_detail_panel.dart
  lib/features/queries/presentation/widgets/ask_ai_panel.dart
  lib/features/tasks/presentation/widgets/task_detail_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team
