Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

fix: Correct exception import and metrics collection in orchestrator
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/backend-team

feat: Implement Audio Streaming Pipeline (Partial) - Task 2.0
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/audio_recording/domain/services/live_audio_streaming_service.dart
  lib/features/audio_recording/domain/services/live_audio_websocket_service.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Implement AssemblyAI Real-Time Transcription Integration - Task 2.0.5
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/config.py
  backend/routers/websocket_live_insights.py
  backend/services/transcription/assemblyai_service.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

test: Add unit tests for AssemblyAI service - Task 2.0.5
  backend/tests/unit/test_assemblyai_service.py
Owners: @Tell-Me-Mo/backend-team

feat: Integrate StreamingIntelligenceOrchestrator with AssemblyAI pipeline - Task 7.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/routers/websocket_live_insights.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Add AI Assistant Toggle to Recording Panel - Task 5.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/audio_recording/domain/services/recording_preferences_service.dart
  lib/features/audio_recording/presentation/providers/recording_preferences_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Create Live Transcription Display Widget - Task 5.1.5
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/data/models/transcript_model.dart
  lib/features/live_insights/data/models/transcript_model.freezed.dart
  lib/features/live_insights/data/models/transcript_model.g.dart
  lib/features/live_insights/presentation/widgets/live_transcription_widget.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Create Live Insights Data Models - Task 5.6
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/live_insights/data/models/live_insight_model.dart
  lib/features/live_insights/data/models/live_insight_model.freezed.dart
  lib/features/live_insights/data/models/live_insight_model.g.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Create Live Questions Card Widget - Task 5.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/app/router/app_router.g.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/content/presentation/providers/processing_jobs_provider.g.dart
  lib/features/live_insights/presentation/widgets/live_question_card.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Create Live Actions Card Widget - Task 5.3
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/live_insights/presentation/widgets/live_action_card.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Create AI Assistant Content Section - Task 5.4
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/presentation/widgets/ai_assistant_content.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Implement Live Insights State Management - Task 5.5
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  lib/features/live_insights/data/models/live_insight_model.dart
  lib/features/live_insights/data/models/live_insight_model.freezed.dart
  lib/features/live_insights/data/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.g.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Implement GPT-Generated Answer Service (Tier 4) - Task 3.4
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/question_handler.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Verify WebSocket Service for Live Insights - Task 5.7
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
Owners: @Tell-Me-Mo/core-team

feat: Implement RAG Search Service (Tier 1 Answer Discovery) - Task 3.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/rag_search.py
  lib/features/live_insights/presentation/providers/live_insights_provider.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Implement Meeting Context Search Service (Tier 2) - Task 3.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/meeting_context_search.py
  backend/services/intelligence/question_handler.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Live Conversation Monitoring (Tier 3 Answer Discovery) - Task 3.3
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/answer_handler.py
  backend/services/intelligence/question_handler.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Create GPT-5-mini Prompt Templates - Task 6.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/prompts/live_insights_examples.json
  backend/services/prompts/live_insights_prompts.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Configure and Document GPT-5-mini Integration - Task 6.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/docs/GPT5_MINI_CONFIGURATION.md
  backend/tests/services/llm/test_gpt5_streaming.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Segment Detector Service - Task 3.5
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/segment_detector.py
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Complete Orchestrator-Recording Workflow Integration - Task 7.2
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Unit Tests for Backend Intelligence Services - Task 8.1
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/tests/unit/test_gpt_answer_generator.py
  backend/tests/unit/test_segment_detector.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

fix: Fix Unit Test Failures in SegmentDetector and GPTAnswerGenerator
  CHANGELOG-TASKS.md
  backend/tests/unit/test_gpt_answer_generator.py
  backend/tests/unit/test_segment_detector.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Integration Tests for Four-Tier Answer Discovery - Task 8.2
  backend/alembic/versions/f11cd7beb6f5_add_live_meeting_insights_table.py
  backend/services/intelligence/question_handler.py
  backend/tests/integration/test_answer_discovery.py
Owners: @Tell-Me-Mo/backend-team

docs: Update Task 8.2 Documentation - Integration Tests Completion
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
Owners: @Tell-Me-Mo/core-team

feat: Implement Comprehensive WebSocket Communication Tests - Task 8.3
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  backend/tests/routers/test_websocket_live_insights.py
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team

feat: Implement Flutter Widget Tests for Live Insights UI - Task 8.4
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
  test/features/live_insights/presentation/widgets/ai_assistant_content_test.dart
  test/features/live_insights/presentation/widgets/live_action_card_test.dart
  test/features/live_insights/presentation/widgets/live_question_card_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: Address PR #93 issues - error handling, race conditions, and memory leaks
  backend/services/intelligence/streaming_orchestrator.py
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

security: Remove API key from AssemblyAI WebSocket URL query parameter
  backend/services/transcription/assemblyai_service.py
Owners: @Tell-Me-Mo/backend-team

config: Clarify transcription service configuration
  backend/config.py
Owners: @Tell-Me-Mo/backend-team

fix: Use correct OpenAI client initialization for GPT-5-mini streaming
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/backend-team

feat: Implement responsive 80% width layout with compact header for AI Assistant
  lib/features/audio_recording/presentation/widgets/compact_recording_header.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Correct amplitude meter normalization for dB values
  backend/middleware/auth_middleware.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/widgets/compact_recording_header.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/live_transcription_widget.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Complete real-time intelligence system - 8 critical bug fixes
  backend/alembic/versions/354e5237a23b_create_recordings_table_in_current_.py
  backend/alembic/versions/b8013e9f9d08_recreate_live_meeting_insights_with_.py
  backend/middleware/auth_middleware.py
  backend/models/live_insight.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/services/llm/gpt5_streaming.py
  backend/services/transcription/assemblyai_service.py
  backend/services/transcription/transcription_buffer_service.py
  lib/features/audio_recording/domain/services/live_audio_streaming_service.dart
  lib/features/audio_recording/domain/services/live_audio_websocket_service.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/live_transcription_widget.dart
  test_data/test_transcript_1min.txt
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

fix: NDJSON parsing and StreamRouter integration
  backend/services/intelligence/streaming_orchestrator.py
  backend/services/llm/gpt5_streaming.py
  backend/services/prompts/live_insights_prompts.py
Owners: @Tell-Me-Mo/backend-team

fix: Add proper context (project_id, organization_id) to intelligence handlers
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/backend-team

fix: Handle None values in UUID conversions and use String instead of SQLEnum
  backend/models/live_insight.py
  backend/services/intelligence/action_handler.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/backend-team

Fixes
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/meeting_context_search.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/services/llm/multi_llm_client.py
Owners: @Tell-Me-Mo/backend-team

fix: SQLAlchemy JSONB mutation tracking and tier results display
  backend/models/live_insight.py
  backend/services/intelligence/answer_handler.py
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/meeting_context_search.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/rag_search.py
  backend/services/intelligence/stream_router.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/services/prompts/live_insights_prompts.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.dart
  lib/features/live_insights/presentation/widgets/live_question_card.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

feat: Add tier configuration system for answer discovery
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/answer_handler.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/stream_router.py
  backend/services/intelligence/streaming_orchestrator.py
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/domain/models/tier_settings.dart
  lib/features/live_insights/domain/models/tier_settings.freezed.dart
  lib/features/live_insights/domain/models/tier_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.g.dart
  lib/features/live_insights/presentation/providers/tier_settings_provider.dart
  lib/features/live_insights/presentation/providers/tier_settings_provider.g.dart
  lib/features/live_insights/presentation/widgets/ai_assistant_content.dart
  lib/features/live_insights/presentation/widgets/live_action_card.dart
  lib/features/live_insights/presentation/widgets/live_question_card.dart
  lib/features/live_insights/presentation/widgets/live_transcription_widget.dart
  lib/features/live_insights/presentation/widgets/tier_settings_dialog.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
