Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

refactor: Eliminate context window configuration inconsistency with explicit priority mapping
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

refactor: Eliminate context window configuration inconsistency with explicit priority mapping
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement explicit weighted semantic score calculation
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement explicit weighted semantic score calculation
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Enhance gibberish detection with 5-layer filtering system
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Enhance gibberish detection with 5-layer filtering system
  backend/services/intelligence/adaptive_insight_processor.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement selective phase execution for Active Intelligence (40-60% cost reduction)
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement selective phase execution for Active Intelligence (40-60% cost reduction)
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement shared search cache for Active Intelligence phases
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/question_answering_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/shared_search_cache.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement shared search cache for Active Intelligence phases
  backend/services/intelligence/conflict_detection_service.py
  backend/services/intelligence/follow_up_suggestions_service.py
  backend/services/intelligence/question_answering_service.py
  backend/services/intelligence/realtime_meeting_insights.py
  backend/services/intelligence/shared_search_cache.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Add TranscriptValidator for intelligent noise and quality filtering
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/transcript_validator.py
  backend/tests/test_transcript_validator.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Add TranscriptValidator for intelligent noise and quality filtering
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/transcript_validator.py
  backend/tests/test_transcript_validator.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement early duplicate detection for chunk-level deduplication
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement early duplicate detection for chunk-level deduplication
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement graceful degradation for Active Intelligence phase failures
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Implement graceful degradation for Active Intelligence phase failures
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Add confidence-based display thresholds for proactive assistance
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  test/features/live_insights/unit/confidence_display_mode_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add confidence-based display thresholds for proactive assistance
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/proactive_assistance_model.dart
  lib/features/live_insights/domain/models/proactive_assistance_model.freezed.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
  test/features/live_insights/unit/confidence_display_mode_test.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

chore: Update generated files after confidence display mode changes
  lib/app/router/app_router.g.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

chore: Update generated files after confidence display mode changes
  lib/app/router/app_router.g.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Add user feedback loop for proactive assistance
  backend/models/__init__.py
  backend/models/proactive_assistance_feedback.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/proactive_assistance_feedback_service.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add user feedback loop for proactive assistance
  backend/models/__init__.py
  backend/models/proactive_assistance_feedback.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/proactive_assistance_feedback_service.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/widgets/proactive_assistance_card.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add Quiet Mode and customizable phase toggles for Live Insights
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.freezed.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add Quiet Mode and customizable phase toggles for Live Insights
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/live_insights_settings.dart
  lib/features/live_insights/domain/models/live_insights_settings.freezed.dart
  lib/features/live_insights/domain/models/live_insights_settings.g.dart
  lib/features/live_insights/domain/services/live_insights_settings_service.dart
  lib/features/live_insights/presentation/providers/live_insights_settings_provider.dart
  lib/features/live_insights/presentation/widgets/live_insights_settings_dialog.dart
  lib/features/meetings/presentation/widgets/live_insights_panel.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add processing decision visibility for debugging and transparency
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/presentation/widgets/processing_metadata_overlay.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add processing decision visibility for debugging and transparency
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/presentation/widgets/processing_metadata_overlay.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add Insight Evolution Tracker for priority escalation and content expansion
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/insight_evolution_tracker.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add Insight Evolution Tracker for priority escalation and content expansion
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/insight_evolution_tracker.py
  backend/services/intelligence/realtime_meeting_insights.py
  docs/HLD_LIVE_INSIGHTS.md
  lib/features/live_insights/domain/models/live_insight_model.dart
  lib/features/live_insights/domain/models/live_insight_model.freezed.dart
  lib/features/live_insights/domain/models/live_insight_model.g.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

feat: Add Smart Batching for Related Chunks with TopicCoherenceDetector
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/adaptive_insight_processor.py
  backend/services/intelligence/topic_coherence_detector.py
  backend/tests/test_topic_coherence_detector.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Add Smart Batching for Related Chunks with TopicCoherenceDetector
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/adaptive_insight_processor.py
  backend/services/intelligence/topic_coherence_detector.py
  backend/tests/test_topic_coherence_detector.py
  docs/HLD_LIVE_INSIGHTS.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for AdaptiveInsightProcessor PRIORITY_CONTEXT_MAP
  backend/tests/unit/test_adaptive_insight_processor.py
Owners: @Tell-Me-Mo/backend-team

test: Add comprehensive test suite for AdaptiveInsightProcessor PRIORITY_CONTEXT_MAP
  backend/tests/unit/test_adaptive_insight_processor.py
Owners: @Tell-Me-Mo/backend-team

test: Add comprehensive test suite for semantic score calculation
  backend/tests/unit/test_semantic_score.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for semantic score calculation
  backend/tests/unit/test_semantic_score.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

feat: Add accumulated context quality checking with meaningful word counting
  backend/services/intelligence/adaptive_insight_processor.py
  backend/tests/unit/test_adaptive_insight_processor.py
Owners: @Tell-Me-Mo/backend-team

feat: Add accumulated context quality checking with meaningful word counting
  backend/services/intelligence/adaptive_insight_processor.py
  backend/tests/unit/test_adaptive_insight_processor.py
Owners: @Tell-Me-Mo/backend-team

test: Add comprehensive test suite for selective phase execution optimization
  backend/tests/unit/test_selective_phase_execution.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for selective phase execution optimization
  backend/tests/unit/test_selective_phase_execution.py
  docs/live_insights_improvements.md
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

test: Add comprehensive test suite for SharedSearchCache vector search optimization
  backend/tests/unit/test_shared_search_cache.py
Owners: @Tell-Me-Mo/backend-team

test: Add comprehensive test suite for SharedSearchCache vector search optimization
  backend/tests/unit/test_shared_search_cache.py
Owners: @Tell-Me-Mo/backend-team
