Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

fix: Action card UI improvements and completeness calculation
  backend/services/intelligence/action_handler.py
  lib/features/live_insights/presentation/widgets/live_action_card.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

refactor: Implement two-phase pattern for answer discovery broadcasts
  backend/services/intelligence/answer_handler.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/tests/integration/test_answer_discovery.py
Owners: @Tell-Me-Mo/backend-team

fix: Resolve 37 failing unit tests with proper implementation fixes
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/question_handler.py
  backend/tests/services/llm/test_gpt5_streaming.py
  backend/tests/unit/test_action_handler.py
  backend/tests/unit/test_answer_handler.py
  backend/tests/unit/test_assemblyai_service.py
  backend/tests/unit/test_gpt_answer_generator.py
  backend/tests/unit/test_live_insight_model.py
  backend/tests/unit/test_question_handler.py
  backend/tests/unit/test_stream_router.py
  backend/tests/unit/test_transcription_buffer_service.py
  backend/uploads/temp_audio/tmp44xuk_08.webm
  lib/features/audio_recording/domain/services/live_audio_websocket_service.dart
  lib/features/notifications/services/websocket_notification_service.dart
  test/features/live_insights/presentation/widgets/ai_assistant_content_test.dart
  test/features/live_insights/presentation/widgets/live_action_card_test.dart
  test/features/live_insights/presentation/widgets/live_question_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Set POSTGRES_DB env var in GitHub workflow for integration tests
  .github/workflows/backend-tests.yml
Owners: @Tell-Me-Mo/devops-team

feat: Implement proactive meeting assistance with real-time insights
  backend/requirements.txt
  backend/services/intelligence/answer_handler.py
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/stream_router.py
  backend/services/prompts/live_insights_prompts.py
  backend/tests/unit/test_question_handler.py
  backend/tests/unit/test_stream_router.py
  lib/features/audio_recording/domain/services/live_audio_streaming_service.dart
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/data/models/live_insight_model.freezed.dart
  lib/features/live_insights/data/models/live_insight_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.g.dart
  lib/features/live_insights/presentation/widgets/live_action_card.dart
  lib/features/live_insights/presentation/widgets/live_question_card.dart
  lib/features/live_insights/presentation/widgets/live_transcription_widget.dart
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

test: Fix live insights widget tests to match current implementation
  backend/models/__init__.py
  backend/routers/transcription.py
  backend/tasks/transcription_tasks.py
  backend/tests/integration/test_rq_tasks.py
  lib/core/network/api_client.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.dart
  lib/features/meetings/presentation/providers/upload_provider.dart
  test/features/live_insights/presentation/widgets/live_action_card_test.dart
  test/features/live_insights/presentation/widgets/live_question_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Implement provider_override to route LLM calls to correct provider
  backend/services/summaries/summary_service_refactored.py
  backend/tests/conftest.py
  backend/tests/integration/test_ai_matching.py
  backend/tests/integration/test_content.py
  backend/tests/integration/test_error_handling.py
  backend/tests/integration/test_provider_override.py
  backend/tests/integration/test_unified_summaries.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

test: Fix 4 failing tests to match current implementation
  backend/tests/integration/test_answer_discovery.py
  backend/tests/unit/test_answer_handler.py
  backend/tests/unit/test_gpt_answer_generator.py
  backend/tests/unit/test_question_handler.py
Owners: @Tell-Me-Mo/backend-team

feat: Enhance RAG search with LLM-generated answers for live insights
  backend/models/live_insight.py
  backend/services/intelligence/question_handler.py
  backend/services/intelligence/rag_search.py
  backend/services/prompts/rag_prompts.py
  backend/services/rag/enhanced_rag_service_refactored.py
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Add 50% confidence threshold to Tier 1 RAG search to enable fallback tiers
  backend/services/intelligence/question_handler.py
Owners: @Tell-Me-Mo/backend-team

fix: Standardize Create Project dialog design to match Portfolio and Program dialogs
  lib/features/hierarchy/presentation/widgets/create_project_from_hierarchy_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

cleanup
  CHANGELOG-TASKS.md
  TASKS-MEETINGS-ASSISTNACE.md
Owners: @Tell-Me-Mo/core-team

docs: Add Proactive Meeting Assistance to all documentation
  CHANGELOG.md
  HLD.md
  README.md
  USER_JOURNEY.md
Owners: @Tell-Me-Mo/core-team

Improvements
  docs/blog.html
  docs/blog/real-time-meeting-intelligence.html
  docs/documentation.html
  docs/index.html
  docs/sitemap.xml
Owners: @Tell-Me-Mo/core-team

AI search optimization
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/index.html
  docs/robots.txt
Owners: @Tell-Me-Mo/core-team

optimization for non AI search
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/index.html
Owners: @Tell-Me-Mo/core-team

fixes
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
Owners: @Tell-Me-Mo/core-team

feat: Add Proactive Meeting Assistance documentation and 2025 SEO optimization (#100)
  CHANGELOG-TASKS.md
  CHANGELOG.md
  HLD.md
  README.md
  TASKS-MEETINGS-ASSISTNACE.md
  USER_JOURNEY.md
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/documentation.html
  docs/index.html
  docs/robots.txt
  docs/sitemap.xml
Owners: @Tell-Me-Mo/core-team

feat: Add Proactive Meeting Assistance documentation and 2025 SEO optimization (#100)
  CHANGELOG-TASKS.md
  CHANGELOG.md
  HLD.md
  README.md
  TASKS-MEETINGS-ASSISTNACE.md
  USER_JOURNEY.md
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/real-time-meeting-intelligence.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/documentation.html
  docs/index.html
  docs/robots.txt
  docs/sitemap.xml
Owners: @Tell-Me-Mo/core-team

feat: Add comprehensive Sentry error tracking and user notifications for AI Assistant failures
  lib/features/audio_recording/domain/services/live_audio_streaming_service.dart
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
  lib/features/live_insights/data/models/live_insight_model.freezed.dart
  lib/features/live_insights/data/models/live_insight_model.g.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.g.dart
  lib/features/meetings/presentation/providers/upload_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Respect iOS safe area for notification banners
  lib/core/widgets/notifications/notification_overlay.dart
Owners: @Tell-Me-Mo/frontend-team

perf: Eliminate white screen delay on web startup
  lib/main.dart
  web/index.html
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

error handling
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/audio_recording/presentation/providers/recording_provider.g.dart
Owners: @Tell-Me-Mo/frontend-team

fix cookie banner view
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

feat: Implement minimal mobile header for AI-assisted meeting recording
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: Remove redundant headers in mobile tab view for Questions and Actions
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
Owners: @Tell-Me-Mo/frontend-team

fix: Position notifications directly below status bar on mobile
  lib/core/widgets/notifications/notification_overlay.dart
Owners: @Tell-Me-Mo/frontend-team

feat: Implement Redis Pub/Sub for live insights cross-process communication
  backend/queue_config.py
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/tests/integration/test_redis_pubsub_live_insights.py
  backend/tests/routers/test_live_insights_mocked.py
  backend/tests/routers/test_websocket_live_insights.py
Owners: @Tell-Me-Mo/backend-team

feat: Add zero-shot classification for question/action validation
  backend/config.py
  backend/main.py
  backend/services/intelligence/stream_router.py
  backend/services/intelligence/zeroshot_validator_service.py
  backend/tests/integration/test_zeroshot_validator.py
Owners: @Tell-Me-Mo/backend-team

feat: Redesign website hero section with live demo mockup and improved UX
  docs/css/style.css
  docs/index.html
  docs/live-demo-mockup.html
Owners: @Tell-Me-Mo/core-team

feat: Add comprehensive OpenTelemetry observability with Grafana Cloud integration
  backend/config.py
  backend/create_grafana_dashboards.py
  backend/export_grafana_dashboards.py
  backend/find_grafana_url.py
  backend/grafana_dashboards/1_business_overview.json
  backend/grafana_dashboards/2_llm_cost_optimization.json
  backend/grafana_dashboards/3_organization_health.json
  backend/grafana_dashboards/4_churn_risk_detection.json
  backend/grafana_dashboards/5_sla_performance.json
  backend/grafana_dashboards/6_content_quality.json
  backend/grafana_dashboards/7_time_to_value.json
  backend/grafana_dashboards/IMPORT_GUIDE.md
  backend/grafana_dashboards/README.md
  backend/install_opentelemetry.sh
  backend/main.py
  backend/observability/CRITICAL_METRICS_SUMMARY.md
  backend/observability/GRAFANA_DASHBOARDS.md
  backend/observability/__init__.py
  backend/observability/business_metrics.py
  backend/observability/decorators.py
  backend/observability/metrics.py
  backend/observability/telemetry.py
  backend/requirements.txt
  backend/services/llm/multi_llm_client.py
  backend/services/rag/enhanced_rag_service_refactored.py
  backend/test_grafana_metrics.py
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team

fix: Prevent memory leak in WebSocket session manager with TTL-based cleanup
  backend/routers/websocket_live_insights.py
  backend/tests/routers/test_live_insights_mocked.py
Owners: @Tell-Me-Mo/backend-team

security: Remove file with hardcoded Grafana Cloud credentials
  backend/create_grafana_dashboards.py
Owners: @Tell-Me-Mo/backend-team

fix: Add error handling to all business metrics recording methods
  backend/observability/business_metrics.py
Owners: @Tell-Me-Mo/backend-team

security: Remove Grafana dashboard export script
  backend/export_grafana_dashboards.py
Owners: @Tell-Me-Mo/backend-team

docs: Update HLD with zero-shot validation and correct tier implementation
  HLD.md
  docs/PROACTIVE_MEETING_ASSISTANCE_HLD.md
Owners: @Tell-Me-Mo/core-team

docs: Add comprehensive speaker identification research and recommendations
  docs/SPEAKER_IDENTIFICATION_RESEARCH.md
Owners: @Tell-Me-Mo/core-team

fix: Remove speaker diarization and fix GPT confidence parsing
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/gpt_answer_generator.py
  backend/services/intelligence/streaming_orchestrator.py
  backend/services/intelligence/zeroshot_validator_service.py
  backend/services/transcription/assemblyai_service.py
  backend/services/transcription/transcription_buffer_service.py
  backend/tests/unit/test_transcription_buffer_service.py
  lib/features/audio_recording/presentation/widgets/recording_panel.dart
  lib/features/live_insights/data/models/live_insight_model.dart
  lib/features/live_insights/data/models/live_insight_model.freezed.dart
  lib/features/live_insights/data/models/live_insight_model.g.dart
  lib/features/live_insights/data/models/transcript_model.dart
  lib/features/live_insights/data/models/transcript_model.freezed.dart
  lib/features/live_insights/data/models/transcript_model.g.dart
  lib/features/live_insights/domain/services/live_insights_websocket_service.dart
  lib/features/live_insights/presentation/providers/live_insights_provider.dart
  lib/features/live_insights/presentation/widgets/live_action_card.dart
  lib/features/live_insights/presentation/widgets/live_question_card.dart
  lib/features/live_insights/presentation/widgets/live_transcription_widget.dart
  test/features/live_insights/presentation/widgets/live_action_card_test.dart
  test/features/live_insights/presentation/widgets/live_question_card_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: Bypass SSL verification for Grafana OTLP exports in development
  backend/observability/telemetry.py
Owners: @Tell-Me-Mo/backend-team

fix: Remove remaining speaker parameter from orchestrator call
  backend/routers/websocket_live_insights.py
  backend/services/intelligence/streaming_orchestrator.py
Owners: @Tell-Me-Mo/backend-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
