Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team

Fixes
  lib/config.dart
  lib/core/storage/secure_storage_factory.dart
  lib/core/storage/secure_storage_mobile.dart
  lib/core/storage/secure_storage_web.dart
  lib/features/summaries/domain/services/summary_export_service.dart
  lib/features/summaries/domain/services/web_download_web.dart
Owners: @Tell-Me-Mo/frontend-team

Fixes
  lib/config.dart
  lib/core/storage/secure_storage_factory.dart
  lib/core/storage/secure_storage_mobile.dart
  lib/core/storage/secure_storage_web.dart
  lib/features/summaries/domain/services/summary_export_service.dart
  lib/features/summaries/domain/services/web_download_web.dart
Owners: @Tell-Me-Mo/frontend-team

Fix workflow
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

Fix workflow
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
Owners: @Tell-Me-Mo/devops-team

fixes
  .github/workflows/frontend-docker.yml
  docs/documentation.html
  lib/config.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fixes
  .github/workflows/frontend-docker.yml
  docs/documentation.html
  lib/config.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

Fixes
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

Develop (#23)
  .github/workflows/backend-docker.yml
  .github/workflows/frontend-docker.yml
  docker-compose.yml
  docs/documentation.html
  lib/config.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix cors
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

fix cors
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

Add refresh token
  backend/routers/native_auth.py
  lib/features/auth/data/repositories/backend_auth_repository.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Add refresh token
  backend/routers/native_auth.py
  lib/features/auth/data/repositories/backend_auth_repository.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix cors
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

fix cors
  docker-compose.yml
Owners: @Tell-Me-Mo/devops-team

fix auth
  backend/middleware/auth_middleware.py
  lib/features/auth/data/repositories/backend_auth_repository.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix auth
  backend/middleware/auth_middleware.py
  lib/features/auth/data/repositories/backend_auth_repository.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

Develop (#24)
  backend/middleware/auth_middleware.py
  backend/routers/native_auth.py
  docker-compose.yml
  lib/features/auth/data/repositories/backend_auth_repository.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/devops-team, @Tell-Me-Mo/frontend-team

Fix periodic UI refresh
  lib/core/services/notification_service.dart
  lib/features/documents/presentation/providers/documents_provider.dart
  lib/features/hierarchy/presentation/providers/hierarchy_providers.dart
  lib/features/integrations/presentation/providers/integrations_provider.dart
  lib/features/meetings/presentation/providers/meetings_provider.dart
  lib/features/projects/presentation/providers/projects_provider.dart
Owners: @Tell-Me-Mo/frontend-team

Fix periodic UI refresh
  lib/core/services/notification_service.dart
  lib/features/documents/presentation/providers/documents_provider.dart
  lib/features/hierarchy/presentation/providers/hierarchy_providers.dart
  lib/features/integrations/presentation/providers/integrations_provider.dart
  lib/features/meetings/presentation/providers/meetings_provider.dart
  lib/features/projects/presentation/providers/projects_provider.dart
Owners: @Tell-Me-Mo/frontend-team

Website redesign
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Website redesign
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Website improvements
  docs/css/article.css
  docs/css/blog.css
  docs/css/docs.css
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Website improvements
  docs/css/article.css
  docs/css/blog.css
  docs/css/docs.css
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Website fixes
  docs/css/article.css
  docs/css/blog.css
  docs/css/docs.css
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Website fixes
  docs/css/article.css
  docs/css/blog.css
  docs/css/docs.css
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Website improvements
  README.md
  docs/README.md
  docs/documentation.html
  docs/index.html
Owners: @Tell-Me-Mo/core-team

Website improvements
  README.md
  docs/README.md
  docs/documentation.html
  docs/index.html
Owners: @Tell-Me-Mo/core-team

website
  docs/css/style.css
  docs/index.html
Owners: @Tell-Me-Mo/core-team

website
  docs/css/style.css
  docs/index.html
Owners: @Tell-Me-Mo/core-team

website
  docs/css/style.css
  docs/index.html
Owners: @Tell-Me-Mo/core-team

website
  docs/css/style.css
  docs/index.html
Owners: @Tell-Me-Mo/core-team

website fixes
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

website fixes
  docs/css/style.css
Owners: @Tell-Me-Mo/core-team

Develop (#25)
  README.md
  docs/README.md
  docs/css/article.css
  docs/css/blog.css
  docs/css/docs.css
  docs/css/style.css
  docs/documentation.html
  docs/index.html
  lib/core/services/notification_service.dart
  lib/features/documents/presentation/providers/documents_provider.dart
  lib/features/hierarchy/presentation/providers/hierarchy_providers.dart
  lib/features/integrations/presentation/providers/integrations_provider.dart
  lib/features/meetings/presentation/providers/meetings_provider.dart
  lib/features/projects/presentation/providers/projects_provider.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  docs/css/style.css
  docs/index.html
  docs/js/script.js
  docs/privacy.html
  docs/terms.html
  lib/core/constants/validation_constants.dart
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/auth/presentation/screens/password_reset_screen.dart
  lib/features/auth/presentation/screens/signin_screen.dart
  lib/features/auth/presentation/screens/signup_screen.dart
  lib/features/profile/presentation/screens/change_password_screen.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  docs/css/style.css
  docs/index.html
  docs/js/script.js
  docs/privacy.html
  docs/terms.html
  lib/core/constants/validation_constants.dart
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  lib/features/auth/presentation/screens/password_reset_screen.dart
  lib/features/auth/presentation/screens/signin_screen.dart
  lib/features/auth/presentation/screens/signup_screen.dart
  lib/features/profile/presentation/screens/change_password_screen.dart
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

Fixes
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

Fixes
  lib/features/audio_recording/domain/services/audio_recording_service.dart
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Owners: @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/core-team

Improvements
  backend/routers/transcription.py
  docs/blog.html
  docs/blog/2m-meeting-failure.html
  docs/blog/ai-assistant-memory.html
  docs/blog/death-of-action-items.html
  docs/blog/meeting-math.html
  docs/blog/rag-revolution.html
  docs/blog/remote-work-success.html
  docs/blog/stopped-taking-notes.html
  docs/css/article.css
  docs/css/blog.css
  docs/js/blog.js
  lib/features/audio_recording/presentation/providers/recording_provider.dart
  lib/features/jobs/domain/services/job_websocket_service.dart
  lib/features/jobs/presentation/providers/job_websocket_provider.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team
