Repository Tell-Me-Mo/tellmemo-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team, @Tell-Me-Mo/devops-team

fix: add DEFAULT_TRANSCRIPTION_SERVICE environment variable to worker
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

fix: add DEFAULT_TRANSCRIPTION_SERVICE environment variable to worker (#50)
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

fix: add DEFAULT_TRANSCRIPTION_SERVICE environment variable to worker (#50)
  docker-compose.prod.yml
Owners: @Tell-Me-Mo/core-team

fix: use AAC codec for iOS web browsers to prevent recording failures
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: use AAC codec for iOS web browsers to prevent recording failures (#51)
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: use AAC codec for iOS web browsers to prevent recording failures (#51)
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: skip permission check on web browsers to allow browser-native permission handling
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: skip permission check on web browsers to allow browser-native permission handling (#52)
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: skip permission check on web browsers to allow browser-native permission handling (#52)
  lib/features/audio_recording/domain/services/audio_recording_service.dart
Owners: @Tell-Me-Mo/frontend-team

fix: task status updates now reflect immediately in UI without page refresh
  lib/features/tasks/presentation/providers/aggregated_tasks_provider.dart
  lib/features/tasks/presentation/providers/tasks_state_provider.dart
  lib/features/tasks/presentation/screens/tasks_screen_v2.dart
  lib/features/tasks/presentation/widgets/create_task_dialog.dart
  lib/features/tasks/presentation/widgets/grouped_tasks_view.dart
  lib/features/tasks/presentation/widgets/task_detail_dialog.dart
  test/mocks/mock_tasks_providers.dart
Owners: @Tell-Me-Mo/frontend-team

test: fix failing tests after NotificationService migration
  test/features/audio_recording/presentation/widgets/transcription_display_test.dart
  test/features/integrations/presentation/widgets/integration_card_test.dart
  test/features/profile/presentation/screens/change_password_screen_test.dart
  test/features/queries/presentation/widgets/query_response_card_test.dart
  test/features/risks/presentation/widgets/risk_export_dialog_test.dart
  test/helpers/test_helpers.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: implement elegant decorator pattern for job cancellation
  backend/services/core/content_service.py
  backend/tasks/content_tasks.py
  backend/tasks/transcription_tasks.py
  backend/tests/unit/test_rq_utils.py
  backend/utils/rq_utils.py
Owners: @Tell-Me-Mo/backend-team

test: fix 7 failing tests after NotificationService migration
  test/features/organizations/presentation/providers/invitation_notifications_provider_test.dart
  test/features/projects/presentation/screens/content_processing_dialog_test.dart
  test/helpers/test_helpers.dart
Owners: @Tell-Me-Mo/frontend-team

fix: add duplicate name validation to program update operations
  backend/routers/programs.py
Owners: @Tell-Me-Mo/backend-team

fix: ensure temp audio files are properly cleaned up on validation errors
  backend/routers/transcription.py
  backend/tests/integration/test_transcription.py
Owners: @Tell-Me-Mo/backend-team

docs: add recommended features roadmap with top 5 impactful features
  docs/RECOMMENDED_FEATURES.md
Owners: @Tell-Me-Mo/core-team

docs: consolidate email digest planning into single document
  backend/uploads/temp_audio/tmp44xuk_08.webm
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
  lib/build/.last_build_id
  lib/config.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

docs: remove code implementation from email digest plan
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
Owners: @Tell-Me-Mo/core-team

docs: update email digest plan to use SendGrid exclusively
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
Owners: @Tell-Me-Mo/core-team

docs: streamline email digest plan by removing future sections
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
Owners: @Tell-Me-Mo/core-team

docs: add onboarding and inactive user reminder emails to digest plan
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
Owners: @Tell-Me-Mo/core-team

docs: comprehensive update to email digest plan with implementation details
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
Owners: @Tell-Me-Mo/core-team

feat: complete email digest system implementation with backend, frontend, and documentation
  .env.example
  CHANGELOG.md
  USER_JOURNEY.md
  backend/alembic/versions/d87374cb7d30_add_email_digest_support.py
  backend/config.py
  backend/main.py
  backend/models/notification.py
  backend/requirements.txt
  backend/routers/email_admin.py
  backend/routers/email_preferences.py
  backend/routers/native_auth.py
  backend/services/email/__init__.py
  backend/services/email/digest_service.py
  backend/services/email/sendgrid_service.py
  backend/services/email/template_service.py
  backend/services/scheduler/__init__.py
  backend/services/scheduler/digest_scheduler.py
  backend/tasks/email_tasks.py
  backend/templates/email/base.html
  backend/templates/email/digest_email.html
  backend/templates/email/digest_email.txt
  backend/templates/email/inactive_reminder.html
  backend/templates/email/inactive_reminder.txt
  backend/templates/email/onboarding_email.html
  backend/templates/email/onboarding_email.txt
  backend/tests/integration/test_email_digest.py
  docs/EMAIL_DIGEST_FEATURE_PLAN.md
  docs/documentation.html
  lib/app/router/app_router.dart
  lib/app/router/routes.dart
  lib/features/email_preferences/data/models/email_digest_preferences.dart
  lib/features/email_preferences/data/services/email_preferences_api_service.dart
  lib/features/email_preferences/presentation/providers/email_preferences_provider.dart
  lib/features/email_preferences/presentation/screens/email_digest_preferences_screen.dart
  lib/features/profile/presentation/screens/user_profile_screen.dart
  test/features/email_preferences/data/models/email_digest_preferences_test.dart
  test/features/email_preferences/presentation/screens/email_digest_preferences_screen_test.dart
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/core-team, @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

refactor: improve email digest system with Redis rate limiting and performance optimizations
  .env.example
  backend/alembic/versions/d87374cb7d30_add_email_digest_support.py
  backend/config.py
  backend/requirements.txt
  backend/routers/email_preferences.py
  backend/services/__init__.py
  backend/services/email/digest_service.py
  backend/services/email/sendgrid_service.py
  backend/services/scheduler/digest_scheduler.py
  backend/tests/integration/test_email_digest.py
  backend/tests/test_sendgrid_redis_rate_limit.py
Owners: @Tell-Me-Mo/devops-team, @Tell-Me-Mo/backend-team

refactor: improve email preferences with type safety and performance optimizations
  backend/routers/email_preferences.py
  backend/tasks/email_tasks.py
  lib/features/email_preferences/presentation/screens/email_digest_preferences_screen.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

ui: temporarily hide AI Brain and Transcription Service cards from Integrations page
  backend/models/notification.py
  backend/routers/email_preferences.py
  backend/services/email/digest_service.py
  backend/tasks/email_tasks.py
  backend/templates/email/base.html
  backend/templates/email/digest_email.html
  backend/templates/email/digest_email.txt
  backend/templates/email/inactive_reminder.html
  backend/templates/email/inactive_reminder.txt
  backend/templates/email/onboarding_email.html
  backend/templates/email/onboarding_email.txt
  lib/config.dart
  lib/features/email_preferences/data/models/email_digest_preferences.dart
  lib/features/integrations/presentation/screens/integrations_screen.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

ui: replace change password screen with elegant dialog
  lib/features/profile/presentation/screens/user_profile_screen.dart
  lib/features/profile/presentation/widgets/change_password_dialog.dart
Owners: @Tell-Me-Mo/frontend-team

test: add comprehensive tests for ChangePasswordDialog
  test/features/profile/presentation/widgets/change_password_dialog_test.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: remove unused email notifications toggle and update digest content types
  lib/features/profile/domain/entities/user_profile.dart
  test/features/email_preferences/data/models/email_digest_preferences_test.dart
  test/features/email_preferences/presentation/screens/email_digest_preferences_screen_test.dart
  test/features/profile/domain/entities/user_profile_test.dart
Owners: @Tell-Me-Mo/frontend-team

refactor: remove deprecated ChangePasswordScreen and route
  lib/app/router/app_router.dart
  lib/app/router/routes.dart
  lib/features/profile/presentation/screens/change_password_screen.dart
  test/features/profile/presentation/screens/change_password_screen_test.dart
Owners: @Tell-Me-Mo/frontend-team

feat: enable email digest by default for new users
  backend/routers/email_preferences.py
  backend/tests/integration/test_email_digest.py
  lib/features/email_preferences/data/models/email_digest_preferences.dart
  test/features/email_preferences/data/models/email_digest_preferences_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: update task content type naming to reflect accurate behavior
  backend/templates/email/digest_email.html
  backend/templates/email/digest_email.txt
  lib/features/email_preferences/data/models/email_digest_preferences.dart
  test/features/email_preferences/data/models/email_digest_preferences_test.dart
  test/features/email_preferences/presentation/screens/email_digest_preferences_screen_test.dart
Owners: @Tell-Me-Mo/backend-team, @Tell-Me-Mo/frontend-team

fix: properly serialize enum values in email digest data
  backend/services/email/digest_service.py
Owners: @Tell-Me-Mo/backend-team

refactor: remove Send Test Email button from Email Digest Preferences
  lib/features/email_preferences/presentation/screens/email_digest_preferences_screen.dart
Owners: @Tell-Me-Mo/frontend-team

test: remove deprecated changePassword route reference from tests
  test/app/router/routes_test.dart
Owners: @Tell-Me-Mo/frontend-team

Update versions
  pubspec.lock
  pubspec.yaml
Owners: @Tell-Me-Mo/core-team, @Tell-Me-Mo/frontend-team

fix: correct email digest content type from summaries to blockers
  backend/alembic/versions/d87374cb7d30_add_email_digest_support.py
  backend/alembic/versions/dc8704e627ee_fix_email_digest_content_type_summaries_.py
Owners: @Tell-Me-Mo/backend-team

fix: add startup validation for email digest SendGrid API key
  backend/main.py
Owners: @Tell-Me-Mo/backend-team

docs: Add comprehensive Product Hunt launch guide
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
Owners: @Tell-Me-Mo/core-team

docs: Add comprehensive Product Hunt launch guide
  docs/PRODUCT_HUNT_LAUNCH_GUIDE.md
Owners: @Tell-Me-Mo/core-team

.github/CODEOWNERS:

# CODEOWNERS file for tellmemo-app
# This file defines individuals or teams responsible for code in this repository.
# Code owners are automatically requested for review when someone opens a pull request.

# Default owners for everything in the repo
* @Tell-Me-Mo/core-team

# Backend code
/backend/ @Tell-Me-Mo/backend-team

# Frontend Flutter code
/lib/ @Tell-Me-Mo/frontend-team
/test/ @Tell-Me-Mo/frontend-team

# Infrastructure and DevOps
/docker-compose.yml @Tell-Me-Mo/devops-team
/Dockerfile @Tell-Me-Mo/devops-team
/.github/ @Tell-Me-Mo/devops-team

# Documentation
*.md @Tell-Me-Mo/core-team
/docs/ @Tell-Me-Mo/core-team

# Configuration files
/.env.example @Tell-Me-Mo/devops-team
/pubspec.yaml @Tell-Me-Mo/frontend-team
/requirements.txt @Tell-Me-Mo/backend-team
